<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>continuous-purchase_Board_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,482},{472,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{472,158}}</string>
                <key>sourceSize</key>
                <string>{472,158}</string>
            </dict>
            <key>continuous-purchase_Board_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,1},{472,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{472,158}}</string>
                <key>sourceSize</key>
                <string>{472,158}</string>
            </dict>
            <key>continuous-purchase_Board_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,1},{479,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{479,209}}</string>
                <key>sourceSize</key>
                <string>{479,209}</string>
            </dict>
            <key>continuous-purchase_Box_Info_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,936},{143,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,50}}</string>
                <key>sourceSize</key>
                <string>{143,50}</string>
            </dict>
            <key>continuous-purchase_Table.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{575,984}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{575,984}}</string>
                <key>sourceSize</key>
                <string>{575,984}</string>
            </dict>
            <key>continuous-purchase_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,482},{178,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,222}}</string>
                <key>sourceSize</key>
                <string>{178,222}</string>
            </dict>
            <key>continuous-purchase_board_day_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,475},{189,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,53}}</string>
                <key>sourceSize</key>
                <string>{189,53}</string>
            </dict>
            <key>continuous-purchase_board_day_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,666},{189,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,53}}</string>
                <key>sourceSize</key>
                <string>{189,53}</string>
            </dict>
            <key>continuous-purchase_board_day_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,881},{189,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,53}}</string>
                <key>sourceSize</key>
                <string>{189,53}</string>
            </dict>
            <key>continuous-purchase_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,956},{124,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,43}}</string>
                <key>sourceSize</key>
                <string>{124,43}</string>
            </dict>
            <key>continuous-purchase_clock.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,936},{45,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,53}}</string>
                <key>sourceSize</key>
                <string>{45,53}</string>
            </dict>
            <key>continuous-purchase_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,706},{163,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,173}}</string>
                <key>sourceSize</key>
                <string>{163,173}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ContinuousPurchase.png</string>
            <key>size</key>
            <string>{972,1000}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e6f4704b5dd30f4b25f50c51583ea09d:e2bf5c2fe04bf179adf88ae5e37de64c:03922d2353f2cd654619b225ed9915cd$</string>
            <key>textureFileName</key>
            <string>ContinuousPurchase.png</string>
        </dict>
    </dict>
</plist>
