<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dual-wheel/Board.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{640,608}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,608}}</string>
                <key>sourceSize</key>
                <string>{640,608}</string>
            </dict>
            <key>dual-wheel/Decor01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,740},{111,424}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,424}}</string>
                <key>sourceSize</key>
                <string>{111,424}</string>
            </dict>
            <key>dual-wheel/Decor02.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,611},{185,277}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,277}}</string>
                <key>sourceSize</key>
                <string>{185,277}</string>
            </dict>
            <key>dual-wheel/Line.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,601},{205,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,13}}</string>
                <key>sourceSize</key>
                <string>{205,13}</string>
            </dict>
            <key>dual-wheel/Needle.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,601},{53,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,89}}</string>
                <key>sourceSize</key>
                <string>{53,89}</string>
            </dict>
            <key>dual-wheel/RewardBoard.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,611},{444,127}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{444,127}}</string>
                <key>sourceSize</key>
                <string>{446,129}</string>
            </dict>
            <key>dual-wheel/WheelContainerLeft.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,1},{247,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,298}}</string>
                <key>sourceSize</key>
                <string>{247,298}</string>
            </dict>
            <key>dual-wheel/WheelContainerRight.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,301},{246,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,298}}</string>
                <key>sourceSize</key>
                <string>{246,298}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>DualWheel.png</string>
            <key>size</key>
            <string>{891,852}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a8f4726d8fd7a3ce323af014ad9df11f:aa7b56b51488e20724d0e87a818fb0f7:a7f22e045ac3065fa7e0dfca3ec60e52$</string>
            <key>textureFileName</key>
            <string>DualWheel.png</string>
        </dict>
    </dict>
</plist>
