<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>event-collector/congraz/100Card.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,1},{221,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,211}}</string>
                <key>sourceSize</key>
                <string>{221,211}</string>
            </dict>
            <key>event-collector/congraz/200Card.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,269},{221,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,212}}</string>
                <key>sourceSize</key>
                <string>{221,212}</string>
            </dict>
            <key>event-collector/congraz/AirPod.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,1},{135,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,243}}</string>
                <key>sourceSize</key>
                <string>{135,243}</string>
            </dict>
            <key>event-collector/congraz/Decor_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,885},{486,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{486,90}}</string>
                <key>sourceSize</key>
                <string>{486,90}</string>
            </dict>
            <key>event-collector/congraz/Decor_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{495,403}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{495,403}}</string>
                <key>sourceSize</key>
                <string>{521,403}</string>
            </dict>
            <key>event-collector/congraz/GalaxyTab.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,537},{175,259}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,259}}</string>
                <key>sourceSize</key>
                <string>{175,259}</string>
            </dict>
            <key>event-collector/congraz/Info_Box.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,856},{322,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,52}}</string>
                <key>sourceSize</key>
                <string>{322,52}</string>
            </dict>
            <key>event-collector/congraz/Phone.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,537},{186,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,258}}</string>
                <key>sourceSize</key>
                <string>{186,258}</string>
            </dict>
            <key>event-collector/congraz/Prize_Board_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,498},{266,385}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,385}}</string>
                <key>sourceSize</key>
                <string>{266,385}</string>
            </dict>
            <key>event-collector/congraz/Prize_Board_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,498},{266,356}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,356}}</string>
                <key>sourceSize</key>
                <string>{266,356}</string>
            </dict>
            <key>event-collector/congraz/Prize_Board_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,1},{266,356}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,356}}</string>
                <key>sourceSize</key>
                <string>{266,356}</string>
            </dict>
            <key>event-collector/congraz/Prize_Board_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,492},{266,356}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,356}}</string>
                <key>sourceSize</key>
                <string>{266,356}</string>
            </dict>
            <key>event-collector/congraz/Prize_Board_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,269},{266,356}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,356}}</string>
                <key>sourceSize</key>
                <string>{266,356}</string>
            </dict>
            <key>event-collector/congraz/Title_Band.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,1},{491,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{491,50}}</string>
                <key>sourceSize</key>
                <string>{491,50}</string>
            </dict>
            <key>event-collector/congraz/Watch.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,798},{179,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,234}}</string>
                <key>sourceSize</key>
                <string>{179,234}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>EventCollector02.png</string>
            <key>size</key>
            <string>{1170,978}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:96ab98ff89ecb7890a53d232f9451760:3da1dbed1dc6224f9caf96954ce444ad:d21333c3d0c3fe3088c557d65b05e12e$</string>
            <key>textureFileName</key>
            <string>EventCollector02.png</string>
        </dict>
    </dict>
</plist>
