<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>free/BoxBlue.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,1386},{130,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,205}}</string>
                <key>sourceSize</key>
                <string>{130,205}</string>
            </dict>
            <key>free/BoxGreenLarge.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,433},{433,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{433,205}}</string>
                <key>sourceSize</key>
                <string>{433,205}</string>
            </dict>
            <key>free/BoxPurple.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,433},{433,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{433,205}}</string>
                <key>sourceSize</key>
                <string>{433,205}</string>
            </dict>
            <key>free/BoxYellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1240},{144,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,218}}</string>
                <key>sourceSize</key>
                <string>{144,218}</string>
            </dict>
            <key>free/Reward.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1240},{265,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,179}}</string>
                <key>sourceSize</key>
                <string>{265,179}</string>
            </dict>
            <key>free/login30/Board_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,1518},{124,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,195}}</string>
                <key>sourceSize</key>
                <string>{124,195}</string>
            </dict>
            <key>free/login30/Board_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1507},{138,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,208}}</string>
                <key>sourceSize</key>
                <string>{138,208}</string>
            </dict>
            <key>free/login30/Board_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,868},{184,406}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,406}}</string>
                <key>sourceSize</key>
                <string>{184,406}</string>
            </dict>
            <key>free/login30/Board_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1054},{184,406}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,406}}</string>
                <key>sourceSize</key>
                <string>{184,406}</string>
            </dict>
            <key>free/login30/Board_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{210,430}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,430}}</string>
                <key>sourceSize</key>
                <string>{210,430}</string>
            </dict>
            <key>free/login30/Board_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,1},{210,430}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,430}}</string>
                <key>sourceSize</key>
                <string>{210,430}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Free.png</string>
            <key>size</key>
            <string>{424,1646}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:57b23e348b2bb5eb7ca4892181419499:14d4f1e568bda32e2f4f7ffd4b7e78d7:9893152cc5b99a694b2c41acd4ca453b$</string>
            <key>textureFileName</key>
            <string>Free.png</string>
        </dict>
    </dict>
</plist>
