<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>game/effects/Eye.png</key>
            <dict>
                <key>frame</key>
                <string>{{1348,502},{364,410}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,410}}</string>
                <key>sourceSize</key>
                <string>{364,410}</string>
            </dict>
            <key>game/effects/Forbidden.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,1192},{306,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,306}}</string>
                <key>sourceSize</key>
                <string>{306,306}</string>
            </dict>
            <key>game/effects/Glow_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,1},{501,501}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{501,501}}</string>
                <key>sourceSize</key>
                <string>{501,501}</string>
            </dict>
            <key>game/effects/Glow_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1145,1},{499,499}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{499,499}}</string>
                <key>sourceSize</key>
                <string>{499,499}</string>
            </dict>
            <key>game/effects/Glow_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1348,914},{409,409}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{409,409}}</string>
                <key>sourceSize</key>
                <string>{409,409}</string>
            </dict>
            <key>game/effects/JUp.png</key>
            <dict>
                <key>frame</key>
                <string>{{1526,1419},{86,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,74}}</string>
                <key>sourceSize</key>
                <string>{86,74}</string>
            </dict>
            <key>game/effects/Light.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,609},{602,598}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{602,598}}</string>
                <key>sourceSize</key>
                <string>{602,598}</string>
            </dict>
            <key>game/effects/Light_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,1146},{224,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,224}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>game/effects/Up.png</key>
            <dict>
                <key>frame</key>
                <string>{{1142,1305},{75,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,113}}</string>
                <key>sourceSize</key>
                <string>{75,113}</string>
            </dict>
            <key>game/popups/result/Background.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{639,606}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{639,606}}</string>
                <key>sourceSize</key>
                <string>{639,606}</string>
            </dict>
            <key>game/popups/result/Background2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,504},{636,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{636,248}}</string>
                <key>sourceSize</key>
                <string>{636,248}</string>
            </dict>
            <key>game/popups/result/BackgroundHeader.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,609},{581,208}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{581,208}}</string>
                <key>sourceSize</key>
                <string>{585,208}</string>
            </dict>
            <key>game/popups/result/BlueBox.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,504},{121,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,102}}</string>
                <key>sourceSize</key>
                <string>{121,102}</string>
            </dict>
            <key>game/popups/result/Crown.png</key>
            <dict>
                <key>frame</key>
                <string>{{1759,1244},{88,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,78}}</string>
                <key>sourceSize</key>
                <string>{88,78}</string>
            </dict>
            <key>game/popups/result/OrangeBox.png</key>
            <dict>
                <key>frame</key>
                <string>{{1066,1443},{121,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,102}}</string>
                <key>sourceSize</key>
                <string>{121,102}</string>
            </dict>
            <key>game/popups/result/WinHeader.png</key>
            <dict>
                <key>frame</key>
                <string>{{1646,1},{323,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{323,165}}</string>
                <key>sourceSize</key>
                <string>{323,165}</string>
            </dict>
            <key>game/popups/summary/Star.png</key>
            <dict>
                <key>frame</key>
                <string>{{1811,1334},{26,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,25}}</string>
                <key>sourceSize</key>
                <string>{26,25}</string>
            </dict>
            <key>game/popups/summary/SummaryBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1759,896},{346,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,51}}</string>
                <key>sourceSize</key>
                <string>{346,51}</string>
            </dict>
            <key>game/popups/summary/SummaryBoard.png</key>
            <dict>
                <key>frame</key>
                <string>{{1604,1325},{119,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,120}}</string>
                <key>sourceSize</key>
                <string>{119,120}</string>
            </dict>
            <key>game/popups/summary/SummaryCard.png</key>
            <dict>
                <key>frame</key>
                <string>{{1326,1490},{81,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,84}}</string>
                <key>sourceSize</key>
                <string>{81,84}</string>
            </dict>
            <key>game/popups/summary/SummaryItemBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,1443},{148,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,120}}</string>
                <key>sourceSize</key>
                <string>{148,120}</string>
            </dict>
            <key>game/popups/summary/SummaryNPC.png</key>
            <dict>
                <key>frame</key>
                <string>{{1714,326},{568,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,114}}</string>
                <key>sourceSize</key>
                <string>{568,114}</string>
            </dict>
            <key>game/ui/BlackBoard.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,504},{640,281}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,281}}</string>
                <key>sourceSize</key>
                <string>{640,281}</string>
            </dict>
            <key>game/ui/Deck.png</key>
            <dict>
                <key>frame</key>
                <string>{{1255,1391},{69,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,98}}</string>
                <key>sourceSize</key>
                <string>{69,98}</string>
            </dict>
            <key>game/ui/DeckBlue.png</key>
            <dict>
                <key>frame</key>
                <string>{{1326,1419},{69,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,98}}</string>
                <key>sourceSize</key>
                <string>{69,98}</string>
            </dict>
            <key>game/ui/DeckBox.png</key>
            <dict>
                <key>frame</key>
                <string>{{1253,1142},{92,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,129}}</string>
                <key>sourceSize</key>
                <string>{92,129}</string>
            </dict>
            <key>game/ui/DeckBoxBlue.png</key>
            <dict>
                <key>frame</key>
                <string>{{1342,1325},{92,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,129}}</string>
                <key>sourceSize</key>
                <string>{92,129}</string>
            </dict>
            <key>game/ui/DeckBoxCat.png</key>
            <dict>
                <key>frame</key>
                <string>{{1257,1273},{83,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,116}}</string>
                <key>sourceSize</key>
                <string>{83,116}</string>
            </dict>
            <key>game/ui/DeckBoxDog.png</key>
            <dict>
                <key>frame</key>
                <string>{{1726,1334},{83,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,116}}</string>
                <key>sourceSize</key>
                <string>{83,116}</string>
            </dict>
            <key>game/ui/DeckBoxOcean.png</key>
            <dict>
                <key>frame</key>
                <string>{{1170,1382},{83,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,116}}</string>
                <key>sourceSize</key>
                <string>{83,116}</string>
            </dict>
            <key>game/ui/DeckBoxRamadan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1342,1325},{92,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,129}}</string>
                <key>sourceSize</key>
                <string>{92,129}</string>
            </dict>
            <key>game/ui/DeckBoxRed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1473,1325},{92,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,129}}</string>
                <key>sourceSize</key>
                <string>{92,129}</string>
            </dict>
            <key>game/ui/DeckCarpet.png</key>
            <dict>
                <key>frame</key>
                <string>{{1426,1419},{69,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,98}}</string>
                <key>sourceSize</key>
                <string>{69,98}</string>
            </dict>
            <key>game/ui/DeckCat.png</key>
            <dict>
                <key>frame</key>
                <string>{{1646,326},{62,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,88}}</string>
                <key>sourceSize</key>
                <string>{62,88}</string>
            </dict>
            <key>game/ui/DeckDog.png</key>
            <dict>
                <key>frame</key>
                <string>{{1512,1507},{62,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,88}}</string>
                <key>sourceSize</key>
                <string>{62,88}</string>
            </dict>
            <key>game/ui/DeckDragon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1412,1490},{69,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,98}}</string>
                <key>sourceSize</key>
                <string>{69,98}</string>
            </dict>
            <key>game/ui/DeckExpPass.png</key>
            <dict>
                <key>frame</key>
                <string>{{1170,1500},{69,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,98}}</string>
                <key>sourceSize</key>
                <string>{69,98}</string>
            </dict>
            <key>game/ui/DeckOcean.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,1500},{62,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,87}}</string>
                <key>sourceSize</key>
                <string>{62,87}</string>
            </dict>
            <key>game/ui/DeckRamadan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1602,1446},{69,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,98}}</string>
                <key>sourceSize</key>
                <string>{69,98}</string>
            </dict>
            <key>game/ui/DeckRoyal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1702,1452},{69,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,98}}</string>
                <key>sourceSize</key>
                <string>{69,98}</string>
            </dict>
            <key>game/ui/DeckShark.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,1500},{69,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,98}}</string>
                <key>sourceSize</key>
                <string>{69,98}</string>
            </dict>
            <key>game/ui/DeckVip.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,1500},{69,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,98}}</string>
                <key>sourceSize</key>
                <string>{69,98}</string>
            </dict>
            <key>game/ui/EmojiCry.png</key>
            <dict>
                <key>frame</key>
                <string>{{1142,1142},{109,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,161}}</string>
                <key>sourceSize</key>
                <string>{109,161}</string>
            </dict>
            <key>game/ui/GreenHeader.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,1372},{208,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,69}}</string>
                <key>sourceSize</key>
                <string>{208,69}</string>
            </dict>
            <key>game/ui/Light.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1209},{605,323}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{605,323}}</string>
                <key>sourceSize</key>
                <string>{605,323}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Game.png</string>
            <key>size</key>
            <string>{1838,1572}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9adfd41dcee80277158378b240c89fea:8464e551b0271d2a63e0849a9c35e0a7:60881f8357b9fba8052fb6520b66c6b4$</string>
            <key>textureFileName</key>
            <string>Game.png</string>
        </dict>
    </dict>
</plist>
