<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gourd-crab/Box.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,388},{237,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,206}}</string>
                <key>sourceSize</key>
                <string>{237,206}</string>
            </dict>
            <key>gourd-crab/ButtonBetValue.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,842},{92,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,41}}</string>
                <key>sourceSize</key>
                <string>{92,41}</string>
            </dict>
            <key>gourd-crab/ButtonDoor00.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,531},{114,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,114}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>gourd-crab/ButtonDoor01.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,647},{114,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,114}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>gourd-crab/ButtonDoor02.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,338},{114,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,114}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>gourd-crab/ButtonDoor03.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,458},{114,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,114}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>gourd-crab/ButtonDoor04.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,550},{114,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,114}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>gourd-crab/ButtonDoor05.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,666},{114,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,114}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>gourd-crab/ButtonRetract.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,353},{29,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,29}}</string>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
            <key>gourd-crab/Dice00.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,670},{92,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,101}}</string>
                <key>sourceSize</key>
                <string>{92,101}</string>
            </dict>
            <key>gourd-crab/Dice01.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,776},{92,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,101}}</string>
                <key>sourceSize</key>
                <string>{92,101}</string>
            </dict>
            <key>gourd-crab/Dice02.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,773},{92,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,101}}</string>
                <key>sourceSize</key>
                <string>{92,101}</string>
            </dict>
            <key>gourd-crab/Dice03.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,574},{92,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,101}}</string>
                <key>sourceSize</key>
                <string>{92,101}</string>
            </dict>
            <key>gourd-crab/Dice04.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,668},{92,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,101}}</string>
                <key>sourceSize</key>
                <string>{92,101}</string>
            </dict>
            <key>gourd-crab/Dice05.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,771},{92,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,101}}</string>
                <key>sourceSize</key>
                <string>{92,101}</string>
            </dict>
            <key>gourd-crab/Dice10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1008,460},{94,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,104}}</string>
                <key>sourceSize</key>
                <string>{94,104}</string>
            </dict>
            <key>gourd-crab/Dice11.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,574},{94,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,104}}</string>
                <key>sourceSize</key>
                <string>{94,104}</string>
            </dict>
            <key>gourd-crab/Dice12.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,792},{94,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,104}}</string>
                <key>sourceSize</key>
                <string>{94,104}</string>
            </dict>
            <key>gourd-crab/Dice13.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,782},{94,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,104}}</string>
                <key>sourceSize</key>
                <string>{94,104}</string>
            </dict>
            <key>gourd-crab/Dice14.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,782},{94,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,104}}</string>
                <key>sourceSize</key>
                <string>{94,104}</string>
            </dict>
            <key>gourd-crab/Dice15.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,670},{94,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,104}}</string>
                <key>sourceSize</key>
                <string>{94,104}</string>
            </dict>
            <key>gourd-crab/Dice20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1019,566},{85,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,91}}</string>
                <key>sourceSize</key>
                <string>{85,91}</string>
            </dict>
            <key>gourd-crab/Dice21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1021,659},{85,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,91}}</string>
                <key>sourceSize</key>
                <string>{85,91}</string>
            </dict>
            <key>gourd-crab/Dice22.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,888},{85,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,91}}</string>
                <key>sourceSize</key>
                <string>{85,91}</string>
            </dict>
            <key>gourd-crab/Dice23.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,888},{85,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,91}}</string>
                <key>sourceSize</key>
                <string>{85,91}</string>
            </dict>
            <key>gourd-crab/Dice24.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,876},{85,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,91}}</string>
                <key>sourceSize</key>
                <string>{85,91}</string>
            </dict>
            <key>gourd-crab/Dice25.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,876},{85,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,91}}</string>
                <key>sourceSize</key>
                <string>{85,91}</string>
            </dict>
            <key>gourd-crab/Disk.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,388},{452,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{452,305}}</string>
                <key>sourceSize</key>
                <string>{452,305}</string>
            </dict>
            <key>gourd-crab/IconDoor00.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,792},{164,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,182}}</string>
                <key>sourceSize</key>
                <string>{164,182}</string>
            </dict>
            <key>gourd-crab/IconDoor01.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,627},{195,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,163}}</string>
                <key>sourceSize</key>
                <string>{195,163}</string>
            </dict>
            <key>gourd-crab/IconDoor02.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,353},{174,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,176}}</string>
                <key>sourceSize</key>
                <string>{174,176}</string>
            </dict>
            <key>gourd-crab/IconDoor03.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,1},{194,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,176}}</string>
                <key>sourceSize</key>
                <string>{194,176}</string>
            </dict>
            <key>gourd-crab/IconDoor04.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,353},{195,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,136}}</string>
                <key>sourceSize</key>
                <string>{195,136}</string>
            </dict>
            <key>gourd-crab/IconDoor05.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,197},{185,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,139}}</string>
                <key>sourceSize</key>
                <string>{185,139}</string>
            </dict>
            <key>gourd-crab/LightDot.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,1},{350,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{350,350}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>gourd-crab/LightEffect01.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,550},{115,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,60}}</string>
                <key>sourceSize</key>
                <string>{115,60}</string>
            </dict>
            <key>gourd-crab/LightEffect02.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,454},{117,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,60}}</string>
                <key>sourceSize</key>
                <string>{117,60}</string>
            </dict>
            <key>gourd-crab/LightEffect11.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,335},{121,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,76}}</string>
                <key>sourceSize</key>
                <string>{121,76}</string>
            </dict>
            <key>gourd-crab/LightEffect12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,338},{120,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,76}}</string>
                <key>sourceSize</key>
                <string>{120,76}</string>
            </dict>
            <key>gourd-crab/LightGrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,842},{132,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,252}}</string>
                <key>sourceSize</key>
                <string>{132,252}</string>
            </dict>
            <key>gourd-crab/Table.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{432,385}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{432,385}}</string>
                <key>sourceSize</key>
                <string>{432,385}</string>
            </dict>
            <key>gourd-crab/UserContainerBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,1},{332,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{332,131}}</string>
                <key>sourceSize</key>
                <string>{332,131}</string>
            </dict>
            <key>gourd-crab/YellowRingShine.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,879},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GourdCrab.png</string>
            <key>size</key>
            <string>{1107,975}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a07f2b9248be8afb7ef0e57ac44494c4:7451c8187da5e21f4300901455636d70:ffc4be99170e6e2aa9ed22041b0e6b78$</string>
            <key>textureFileName</key>
            <string>GourdCrab.png</string>
        </dict>
    </dict>
</plist>
