<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pinball/PinballBall.png</key>
            <dict>
                <key>frame</key>
                <string>{{1426,504},{35,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,36}}</string>
                <key>sourceSize</key>
                <string>{35,36}</string>
            </dict>
            <key>pinball/PinballBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,1},{640,501}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,501}}</string>
                <key>sourceSize</key>
                <string>{640,501}</string>
            </dict>
            <key>pinball/PinballBoundary.png</key>
            <dict>
                <key>frame</key>
                <string>{{1356,504},{7,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,102}}</string>
                <key>sourceSize</key>
                <string>{7,102}</string>
            </dict>
            <key>pinball/PinballFloor1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1606,1},{605,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{605,176}}</string>
                <key>sourceSize</key>
                <string>{605,176}</string>
            </dict>
            <key>pinball/PinballFloor2.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,504},{332,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{332,145}}</string>
                <key>sourceSize</key>
                <string>{332,145}</string>
            </dict>
            <key>pinball/PinballGrandReward.png</key>
            <dict>
                <key>frame</key>
                <string>{{1365,504},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>pinball/PinballGun.png</key>
            <dict>
                <key>frame</key>
                <string>{{1298,504},{56,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,130}}</string>
                <key>sourceSize</key>
                <string>{56,130}</string>
            </dict>
            <key>pinball/PinballSpring.png</key>
            <dict>
                <key>frame</key>
                <string>{{1365,565},{43,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,55}}</string>
                <key>sourceSize</key>
                <string>{43,55}</string>
            </dict>
            <key>pinball/PinballSpringDisc.png</key>
            <dict>
                <key>frame</key>
                <string>{{1410,565},{45,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,16}}</string>
                <key>sourceSize</key>
                <string>{45,16}</string>
            </dict>
            <key>pinball/PinballTableBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{583,961}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{583,961}}</string>
                <key>sourceSize</key>
                <string>{583,961}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Pinball.png</string>
            <key>size</key>
            <string>{1783,650}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:11a7faab06a967e7ac7e09b80afe98ad:0d511f9ce789a7f92962b4e9c7e65007:854473257277112c1b2e50c2853178c2$</string>
            <key>textureFileName</key>
            <string>Pinball.png</string>
        </dict>
    </dict>
</plist>
