<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui/Choose_Ticket.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,570},{71,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,42}}</string>
                <key>sourceSize</key>
                <string>{71,42}</string>
            </dict>
            <key>ui/Choose_Ticket_Big.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,570},{91,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,54}}</string>
                <key>sourceSize</key>
                <string>{91,54}</string>
            </dict>
            <key>ui/HoldRibbon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1029,570},{116,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,36}}</string>
                <key>sourceSize</key>
                <string>{116,36}</string>
            </dict>
            <key>ui/LetBetHint.png</key>
            <dict>
                <key>frame</key>
                <string>{{1213,269},{225,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,225}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>ui/PokerHand.png</key>
            <dict>
                <key>frame</key>
                <string>{{1213,496},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ui/PokerLoseEmo.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,269},{202,299}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,299}}</string>
                <key>sourceSize</key>
                <string>{202,299}</string>
            </dict>
            <key>ui/PokerPrizeLight.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,598},{240,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,17}}</string>
                <key>sourceSize</key>
                <string>{240,17}</string>
            </dict>
            <key>ui/PokerTable1.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,1},{640,266}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,266}}</string>
                <key>sourceSize</key>
                <string>{640,266}</string>
            </dict>
            <key>ui/PokerTable2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{826,595}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{826,595}}</string>
                <key>sourceSize</key>
                <string>{826,595}</string>
            </dict>
            <key>ui/PokerTableLine.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,617},{3,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,108}}</string>
                <key>sourceSize</key>
                <string>{3,108}</string>
            </dict>
            <key>ui/PokerTablePrize.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,570},{41,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,32}}</string>
                <key>sourceSize</key>
                <string>{41,32}</string>
            </dict>
            <key>ui/PokerWinEmo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1033,269},{178,283}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,283}}</string>
                <key>sourceSize</key>
                <string>{178,283}</string>
            </dict>
            <key>ui/Refresh.png</key>
            <dict>
                <key>frame</key>
                <string>{{1147,554},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>ui/level_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,598},{78,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,14}}</string>
                <key>sourceSize</key>
                <string>{78,14}</string>
            </dict>
            <key>ui/level_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,598},{78,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,14}}</string>
                <key>sourceSize</key>
                <string>{78,14}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Poker.png</string>
            <key>size</key>
            <string>{1470,625}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2446c9c0adf49736d96249e85da99f6e:a9e5d8d71c5e0935fe3e0931b2b98898:eebe02e7ecd69df28b88056a7e833d0b$</string>
            <key>textureFileName</key>
            <string>Poker.png</string>
        </dict>
    </dict>
</plist>
