<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ranking/BackgroundReward.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,1},{504,329}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{504,329}}</string>
                <key>sourceSize</key>
                <string>{504,329}</string>
            </dict>
            <key>ranking/Banner_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{510,805}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{510,805}}</string>
                <key>sourceSize</key>
                <string>{510,805}</string>
            </dict>
            <key>ranking/Banner_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,1},{504,436}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{504,436}}</string>
                <key>sourceSize</key>
                <string>{504,436}</string>
            </dict>
            <key>ranking/Board_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,904},{265,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,84}}</string>
                <key>sourceSize</key>
                <string>{265,84}</string>
            </dict>
            <key>ranking/Board_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,904},{265,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,84}}</string>
                <key>sourceSize</key>
                <string>{265,84}</string>
            </dict>
            <key>ranking/Board_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,808},{269,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,94}}</string>
                <key>sourceSize</key>
                <string>{269,94}</string>
            </dict>
            <key>ranking/Icon_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1131,507},{128,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,167}}</string>
                <key>sourceSize</key>
                <string>{128,167}</string>
            </dict>
            <key>ranking/Icon_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,774},{164,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,141}}</string>
                <key>sourceSize</key>
                <string>{164,141}</string>
            </dict>
            <key>ranking/Rank_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,808},{77,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,57}}</string>
                <key>sourceSize</key>
                <string>{77,57}</string>
            </dict>
            <key>ranking/Rank_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,779},{69,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,54}}</string>
                <key>sourceSize</key>
                <string>{69,54}</string>
            </dict>
            <key>ranking/Rank_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,850},{61,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,49}}</string>
                <key>sourceSize</key>
                <string>{61,49}</string>
            </dict>
            <key>ranking/RankingAvatarFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,507},{270,339}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,339}}</string>
                <key>sourceSize</key>
                <string>{270,339}</string>
            </dict>
            <key>ranking/Tutorial_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,808},{227,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,203}}</string>
                <key>sourceSize</key>
                <string>{227,203}</string>
            </dict>
            <key>ranking/Tutorial_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,779},{276,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,222}}</string>
                <key>sourceSize</key>
                <string>{276,222}</string>
            </dict>
            <key>ranking/Tutorial_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,507},{265,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,275}}</string>
                <key>sourceSize</key>
                <string>{265,275}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Ranking.png</string>
            <key>size</key>
            <string>{1281,1012}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4db5a5ab72bb3bf85997126711b571cb:5e0e388a5e83fa121bd2c727f7437f6e:99ef178563f7d50bf90e372917216204$</string>
            <key>textureFileName</key>
            <string>Ranking.png</string>
        </dict>
    </dict>
</plist>
