<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>rating/Background.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{635,642}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{635,642}}</string>
                <key>sourceSize</key>
                <string>{635,642}</string>
            </dict>
            <key>rating/FiveStars.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,1},{517,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{517,212}}</string>
                <key>sourceSize</key>
                <string>{517,212}</string>
            </dict>
            <key>rating/NPC.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,645},{329,475}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{329,475}}</string>
                <key>sourceSize</key>
                <string>{329,475}</string>
            </dict>
            <key>rating/Star.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,645},{60,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,57}}</string>
                <key>sourceSize</key>
                <string>{60,57}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Rating.png</string>
            <key>size</key>
            <string>{851,975}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:343ce6f2d2846c55b6481a40e8f823b8:15d9c801bc57603fa0e42daf8939a6f1:20b55e97ced38d4e9b04421831ffc39b$</string>
            <key>textureFileName</key>
            <string>Rating.png</string>
        </dict>
    </dict>
</plist>
