<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>texts/FinalPrize.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,636},{38,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,29}}</string>
                <key>sourceSize</key>
                <string>{38,29}</string>
            </dict>
            <key>texts/GiftCode.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,403},{369,55}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{369,55}}</string>
                <key>sourceSize</key>
                <string>{375,65}</string>
            </dict>
            <key>texts/New.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,552},{82,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,44}}</string>
                <key>sourceSize</key>
                <string>{82,44}</string>
            </dict>
            <key>texts/around-the-world/Header_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,980},{387,190}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{387,190}}</string>
                <key>sourceSize</key>
                <string>{415,190}</string>
            </dict>
            <key>texts/continuousPuchase/continuous-purchaseTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1145,1180},{353,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{353,72}}</string>
                <key>sourceSize</key>
                <string>{353,72}</string>
            </dict>
            <key>texts/events/dragon-knight/DragonBall.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{1019,131}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,26},{1019,131}}</string>
                <key>sourceSize</key>
                <string>{1035,187}</string>
            </dict>
            <key>texts/events/dual-wheel/DualWheel.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,619},{359,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{359,94}}</string>
                <key>sourceSize</key>
                <string>{359,94}</string>
            </dict>
            <key>texts/events/event-collector/Title_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,527},{432,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{432,75}}</string>
                <key>sourceSize</key>
                <string>{432,75}</string>
            </dict>
            <key>texts/events/event-collector/Title_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,1},{473,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{473,103}}</string>
                <key>sourceSize</key>
                <string>{473,103}</string>
            </dict>
            <key>texts/free/FreeCoins.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,106},{466,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{466,62}}</string>
                <key>sourceSize</key>
                <string>{466,62}</string>
            </dict>
            <key>texts/game/Dot.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,796},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>texts/game/FindingOpponent.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,1361},{300,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,138}}</string>
                <key>sourceSize</key>
                <string>{300,138}</string>
            </dict>
            <key>texts/game/GoFirst.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,469},{583,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{583,200}}</string>
                <key>sourceSize</key>
                <string>{583,200}</string>
            </dict>
            <key>texts/game/GoSecond.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,671},{583,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{583,200}}</string>
                <key>sourceSize</key>
                <string>{583,200}</string>
            </dict>
            <key>texts/game/PistiLogoRamadan.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,986},{295,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,171}}</string>
                <key>sourceSize</key>
                <string>{295,171}</string>
            </dict>
            <key>texts/game/RoundOver.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,1159},{306,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,200}}</string>
                <key>sourceSize</key>
                <string>{306,200}</string>
            </dict>
            <key>texts/game/SummaryGray.png</key>
            <dict>
                <key>frame</key>
                <string>{{1258,727},{160,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,70}}</string>
                <key>sourceSize</key>
                <string>{160,70}</string>
            </dict>
            <key>texts/game/SummaryWhite.png</key>
            <dict>
                <key>frame</key>
                <string>{{1107,727},{149,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,84}}</string>
                <key>sourceSize</key>
                <string>{149,84}</string>
            </dict>
            <key>texts/game/YouWon.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,604},{430,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{430,64}}</string>
                <key>sourceSize</key>
                <string>{430,64}</string>
            </dict>
            <key>texts/gourd-crab/LetsBet.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,670},{430,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{430,55}}</string>
                <key>sourceSize</key>
                <string>{430,55}</string>
            </dict>
            <key>texts/home/BigBet.png</key>
            <dict>
                <key>frame</key>
                <string>{{1431,527},{127,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,33}}</string>
                <key>sourceSize</key>
                <string>{127,33}</string>
            </dict>
            <key>texts/home/MiniGameBingo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1466,734},{115,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,30}}</string>
                <key>sourceSize</key>
                <string>{115,30}</string>
            </dict>
            <key>texts/home/MiniGameFlipCards.png</key>
            <dict>
                <key>frame</key>
                <string>{{1429,656},{159,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,35}}</string>
                <key>sourceSize</key>
                <string>{159,35}</string>
            </dict>
            <key>texts/home/MiniGameGourdCrab.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,667},{127,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,29}}</string>
                <key>sourceSize</key>
                <string>{127,29}</string>
            </dict>
            <key>texts/home/MiniGamePinball.png</key>
            <dict>
                <key>frame</key>
                <string>{{1471,260},{81,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,28}}</string>
                <key>sourceSize</key>
                <string>{81,28}</string>
            </dict>
            <key>texts/home/MiniGamePoker.png</key>
            <dict>
                <key>frame</key>
                <string>{{1471,343},{108,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,26}}</string>
                <key>sourceSize</key>
                <string>{108,26}</string>
            </dict>
            <key>texts/home/MiniGameSlotMachine.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,372},{178,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,35}}</string>
                <key>sourceSize</key>
                <string>{178,35}</string>
            </dict>
            <key>texts/jackpot/BigWheel.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,1074},{291,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,0},{291,61}}</string>
                <key>sourceSize</key>
                <string>{333,61}</string>
            </dict>
            <key>texts/jackpot/BigWin.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,986},{506,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{506,104}}</string>
                <key>sourceSize</key>
                <string>{506,104}</string>
            </dict>
            <key>texts/jackpot/EpicWin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1021,260},{448,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{448,89}}</string>
                <key>sourceSize</key>
                <string>{448,89}</string>
            </dict>
            <key>texts/jackpot/MegaWin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1021,170},{463,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{463,88}}</string>
                <key>sourceSize</key>
                <string>{463,88}</string>
            </dict>
            <key>texts/minigames/AutoPlay.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,1369},{129,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,48}}</string>
                <key>sourceSize</key>
                <string>{129,48}</string>
            </dict>
            <key>texts/minigames/ChooseTicket.png</key>
            <dict>
                <key>frame</key>
                <string>{{1467,453},{279,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,32}}</string>
                <key>sourceSize</key>
                <string>{279,32}</string>
            </dict>
            <key>texts/minigames/LetsBet_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,275},{619,95}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{619,95}}</string>
                <key>sourceSize</key>
                <string>{629,99}</string>
            </dict>
            <key>texts/minigames/LetsPlay_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,670},{430,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{430,55}}</string>
                <key>sourceSize</key>
                <string>{430,55}</string>
            </dict>
            <key>texts/minigames/ShowTime.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,372},{594,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{594,95}}</string>
                <key>sourceSize</key>
                <string>{600,99}</string>
            </dict>
            <key>texts/minigames/YouWon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1145,1438},{311,61}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{311,61}}</string>
                <key>sourceSize</key>
                <string>{321,77}</string>
            </dict>
            <key>texts/new-comer/PistiMaster.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,873},{233,199}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{233,199}}</string>
                <key>sourceSize</key>
                <string>{233,233}</string>
            </dict>
            <key>texts/offers/MusicalTurkey.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,134},{384,267}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,267}}</string>
                <key>sourceSize</key>
                <string>{384,267}</string>
            </dict>
            <key>texts/offers/PrettyCappadocia.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,986},{503,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{503,81}}</string>
                <key>sourceSize</key>
                <string>{503,81}</string>
            </dict>
            <key>texts/offers/TulipFestival.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,134},{632,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{632,139}}</string>
                <key>sourceSize</key>
                <string>{632,139}</string>
            </dict>
            <key>texts/offers/TurkeyIceCream.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,817},{484,255}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{484,255}}</string>
                <key>sourceSize</key>
                <string>{484,255}</string>
            </dict>
            <key>texts/offers/TurkishLampPack.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,460},{361,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{361,157}}</string>
                <key>sourceSize</key>
                <string>{361,157}</string>
            </dict>
            <key>texts/payment/BewyapChannel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1074},{419,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{419,61}}</string>
                <key>sourceSize</key>
                <string>{419,61}</string>
            </dict>
            <key>texts/payment/FirstPayReward.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,715},{358,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{358,269}}</string>
                <key>sourceSize</key>
                <string>{358,269}</string>
            </dict>
            <key>texts/quest/DailyQuest.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,463},{444,62}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{444,62}}</string>
                <key>sourceSize</key>
                <string>{444,74}</string>
            </dict>
            <key>texts/quest/PlayMiniGames.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,1369},{128,114}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{128,114}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>texts/quest/PlayWithBet.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,727},{128,88}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,40},{128,88}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>texts/quest/WinMiniGame1st.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,1369},{128,114}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{128,114}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>texts/rating/VoteFiveStars.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,1074},{418,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{418,152}}</string>
                <key>sourceSize</key>
                <string>{418,152}</string>
            </dict>
            <key>texts/share-image/ShareImage_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1009,1074},{488,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{488,104}}</string>
                <key>sourceSize</key>
                <string>{488,104}</string>
            </dict>
            <key>texts/share-image/ShareImage_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1021,351},{444,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{444,110}}</string>
                <key>sourceSize</key>
                <string>{444,110}</string>
            </dict>
            <key>texts/share-image/ramadan/ShareImage_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1009,1180},{319,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{319,134}}</string>
                <key>sourceSize</key>
                <string>{319,134}</string>
            </dict>
            <key>texts/share-image/ramadan/ShareImage_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,873},{273,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,105}}</string>
                <key>sourceSize</key>
                <string>{273,105}</string>
            </dict>
            <key>texts/slot-three/BigWin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1145,1254},{351,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{351,101}}</string>
                <key>sourceSize</key>
                <string>{351,101}</string>
            </dict>
            <key>texts/trophy/TapToOpen.png</key>
            <dict>
                <key>frame</key>
                <string>{{1145,1357},{346,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,79}}</string>
                <key>sourceSize</key>
                <string>{346,79}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Text_TR-0.png</string>
            <key>size</key>
            <string>{1500,1500}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:442799e85f614a50a8ebe3143d209f53:4f1788ed91cbf383f997c7b49a0847fe:07d77c5bd583573aac0386478ff08371$</string>
            <key>textureFileName</key>
            <string>Text_TR-0.png</string>
        </dict>
    </dict>
</plist>
