<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>board_choose_reward.png</key>
            <dict>
                <key>frame</key>
                <string>{{1240,623},{304,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,89}}</string>
                <key>sourceSize</key>
                <string>{304,89}</string>
            </dict>
            <key>btn_next_disable_e15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1131,1562},{40,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,55}}</string>
                <key>sourceSize</key>
                <string>{40,55}</string>
            </dict>
            <key>btn_next_e15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1240,714},{19,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,30}}</string>
                <key>sourceSize</key>
                <string>{19,30}</string>
            </dict>
            <key>btn_next_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,1565},{80,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,113}}</string>
                <key>sourceSize</key>
                <string>{80,113}</string>
            </dict>
            <key>btn_next_yellow_e15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1749,1179},{40,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,55}}</string>
                <key>sourceSize</key>
                <string>{40,55}</string>
            </dict>
            <key>cat_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{1307,919},{327,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,207}}</string>
                <key>sourceSize</key>
                <string>{327,207}</string>
            </dict>
            <key>channel_next.png</key>
            <dict>
                <key>frame</key>
                <string>{{1527,714},{13,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,17}}</string>
                <key>sourceSize</key>
                <string>{13,17}</string>
            </dict>
            <key>channels_popup.png</key>
            <dict>
                <key>frame</key>
                <string>{{1240,312},{526,309}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{526,309}}</string>
                <key>sourceSize</key>
                <string>{526,309}</string>
            </dict>
            <key>e15_btn_channel_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,1548},{147,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,79}}</string>
                <key>sourceSize</key>
                <string>{147,79}</string>
            </dict>
            <key>e15_btn_channels.png</key>
            <dict>
                <key>frame</key>
                <string>{{1718,936},{153,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,87}}</string>
                <key>sourceSize</key>
                <string>{153,87}</string>
            </dict>
            <key>e15_btn_payment.png</key>
            <dict>
                <key>frame</key>
                <string>{{1719,780},{154,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,87}}</string>
                <key>sourceSize</key>
                <string>{154,87}</string>
            </dict>
            <key>e15_btn_price.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,1554},{211,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,80}}</string>
                <key>sourceSize</key>
                <string>{211,80}</string>
            </dict>
            <key>e15_button_info.png</key>
            <dict>
                <key>frame</key>
                <string>{{1579,1296},{77,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,77}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>e15_button_progress.png</key>
            <dict>
                <key>frame</key>
                <string>{{1579,1184},{110,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,75}}</string>
                <key>sourceSize</key>
                <string>{110,75}</string>
            </dict>
            <key>e15_cat_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{1729,1282},{71,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,20}}</string>
                <key>sourceSize</key>
                <string>{71,20}</string>
            </dict>
            <key>e15_cat_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{1567,1487},{95,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,75}}</string>
                <key>sourceSize</key>
                <string>{95,75}</string>
            </dict>
            <key>e15_cat_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{1556,1564},{95,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,75}}</string>
                <key>sourceSize</key>
                <string>{95,75}</string>
            </dict>
            <key>e15_default_channel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1039,1496},{137,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,64}}</string>
                <key>sourceSize</key>
                <string>{137,64}</string>
            </dict>
            <key>e15_time.png</key>
            <dict>
                <key>frame</key>
                <string>{{1307,1128},{235,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,57}}</string>
                <key>sourceSize</key>
                <string>{235,57}</string>
            </dict>
            <key>event15_apple.png</key>
            <dict>
                <key>frame</key>
                <string>{{1664,1436},{69,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,69}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>event15_banh.png</key>
            <dict>
                <key>frame</key>
                <string>{{1664,1361},{69,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,73}}</string>
                <key>sourceSize</key>
                <string>{69,73}</string>
            </dict>
            <key>event15_board_milestone.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,875},{640,589}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,589}}</string>
                <key>sourceSize</key>
                <string>{640,589}</string>
            </dict>
            <key>event15_cat_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{1302,1496},{49,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,55}}</string>
                <key>sourceSize</key>
                <string>{49,55}</string>
            </dict>
            <key>event15_container_token.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,1505},{57,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,58}}</string>
                <key>sourceSize</key>
                <string>{57,58}</string>
            </dict>
            <key>event15_frame_item.png</key>
            <dict>
                <key>frame</key>
                <string>{{1636,914},{194,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,80}}</string>
                <key>sourceSize</key>
                <string>{194,80}</string>
            </dict>
            <key>event15_frame_kittybank.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,1554},{65,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,50}}</string>
                <key>sourceSize</key>
                <string>{65,50}</string>
            </dict>
            <key>event15_frame_token.png</key>
            <dict>
                <key>frame</key>
                <string>{{1653,1573},{64,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,65}}</string>
                <key>sourceSize</key>
                <string>{64,65}</string>
            </dict>
            <key>event15_fx_glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,919},{457,295}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{457,295}}</string>
                <key>sourceSize</key>
                <string>{457,295}</string>
            </dict>
            <key>event15_gg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1658,1282},{69,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,77}}</string>
                <key>sourceSize</key>
                <string>{69,77}</string>
            </dict>
            <key>event15_gift_glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1360,1187},{169,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,185}}</string>
                <key>sourceSize</key>
                <string>{169,185}</string>
            </dict>
            <key>event15_icon_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{1051,919},{319,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{319,254}}</string>
                <key>sourceSize</key>
                <string>{319,254}</string>
            </dict>
            <key>event15_icon_big_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{1039,1240},{319,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{319,254}}</string>
                <key>sourceSize</key>
                <string>{319,254}</string>
            </dict>
            <key>event15_icon_block.png</key>
            <dict>
                <key>frame</key>
                <string>{{1749,1130},{47,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,57}}</string>
                <key>sourceSize</key>
                <string>{47,57}</string>
            </dict>
            <key>event15_icon_bubble.png</key>
            <dict>
                <key>frame</key>
                <string>{{1178,1556},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>event15_icon_cancel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1771,1221},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>event15_icon_check.png</key>
            <dict>
                <key>frame</key>
                <string>{{1307,1187},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>event15_icon_discount.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,1517},{94,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,103}}</string>
                <key>sourceSize</key>
                <string>{94,103}</string>
            </dict>
            <key>event15_icon_fx.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,1216},{445,287}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{445,287}}</string>
                <key>sourceSize</key>
                <string>{445,287}</string>
            </dict>
            <key>event15_icon_gift.png</key>
            <dict>
                <key>frame</key>
                <string>{{1354,1524},{103,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,112}}</string>
                <key>sourceSize</key>
                <string>{103,112}</string>
            </dict>
            <key>event15_icon_glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1261,714},{264,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,203}}</string>
                <key>sourceSize</key>
                <string>{264,203}</string>
            </dict>
            <key>event15_icon_info.png</key>
            <dict>
                <key>frame</key>
                <string>{{1531,1359},{13,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,34}}</string>
                <key>sourceSize</key>
                <string>{13,34}</string>
            </dict>
            <key>event15_popup.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{595,872}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{595,872}}</string>
                <key>sourceSize</key>
                <string>{595,872}</string>
            </dict>
            <key>event15_ppra.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,1505},{175,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,58}}</string>
                <key>sourceSize</key>
                <string>{175,58}</string>
            </dict>
            <key>event15_progress_milestone.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1517},{493,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{493,35}}</string>
                <key>sourceSize</key>
                <string>{493,35}</string>
            </dict>
            <key>event15_progress_milestone_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{1636,1110},{129,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,18}}</string>
                <key>sourceSize</key>
                <string>{129,18}</string>
            </dict>
            <key>event15_progressbar_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{1768,312},{364,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,38}}</string>
                <key>sourceSize</key>
                <string>{364,38}</string>
            </dict>
            <key>event15_progressbar_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{1755,746},{30,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,24}}</string>
                <key>sourceSize</key>
                <string>{30,24}</string>
            </dict>
            <key>event15_ribbon.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,1},{640,769}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,769}}</string>
                <key>sourceSize</key>
                <string>{640,769}</string>
            </dict>
            <key>event15_slot_milestone_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1546,623},{155,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,207}}</string>
                <key>sourceSize</key>
                <string>{155,207}</string>
            </dict>
            <key>event15_slot_milestone_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1360,1374},{148,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,205}}</string>
                <key>sourceSize</key>
                <string>{148,205}</string>
            </dict>
            <key>event15_slot_milestone_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1527,780},{132,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,190}}</string>
                <key>sourceSize</key>
                <string>{132,190}</string>
            </dict>
            <key>event15_title_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{1240,1},{556,309}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{556,309}}</string>
                <key>sourceSize</key>
                <string>{556,309}</string>
            </dict>
            <key>event15_tlkom.png</key>
            <dict>
                <key>frame</key>
                <string>{{1656,1211},{78,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,69}}</string>
                <key>sourceSize</key>
                <string>{78,69}</string>
            </dict>
            <key>event15_token.png</key>
            <dict>
                <key>frame</key>
                <string>{{1736,1221},{33,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,36}}</string>
                <key>sourceSize</key>
                <string>{33,36}</string>
            </dict>
            <key>event15_voda.png</key>
            <dict>
                <key>frame</key>
                <string>{{1664,1507},{65,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,64}}</string>
                <key>sourceSize</key>
                <string>{65,64}</string>
            </dict>
            <key>frame_item.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,772},{661,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{661,145}}</string>
                <key>sourceSize</key>
                <string>{661,145}</string>
            </dict>
            <key>frame_red_bubble.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,1505},{209,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,41}}</string>
                <key>sourceSize</key>
                <string>{209,41}</string>
            </dict>
            <key>frame_time_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{1531,1187},{170,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,46}}</string>
                <key>sourceSize</key>
                <string>{170,46}</string>
            </dict>
            <key>frame_token_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1755,678},{66,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,47}}</string>
                <key>sourceSize</key>
                <string>{66,47}</string>
            </dict>
            <key>frame_token_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1178,1496},{122,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,58}}</string>
                <key>sourceSize</key>
                <string>{122,58}</string>
            </dict>
            <key>icon_hammer.png</key>
            <dict>
                <key>frame</key>
                <string>{{1544,1128},{54,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,86}}</string>
                <key>sourceSize</key>
                <string>{54,86}</string>
            </dict>
            <key>icon_hammer_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,1565},{74,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,81}}</string>
                <key>sourceSize</key>
                <string>{74,81}</string>
            </dict>
            <key>icon_hammer_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,1565},{84,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,81}}</string>
                <key>sourceSize</key>
                <string>{84,81}</string>
            </dict>
            <key>icon_hammer_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1270,1556},{90,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,82}}</string>
                <key>sourceSize</key>
                <string>{90,82}</string>
            </dict>
            <key>icon_hammer_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1656,1130},{91,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,79}}</string>
                <key>sourceSize</key>
                <string>{91,79}</string>
            </dict>
            <key>icon_hammer_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1039,1562},{90,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,84}}</string>
                <key>sourceSize</key>
                <string>{90,84}</string>
            </dict>
            <key>icon_hammer_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,1554},{104,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,92}}</string>
                <key>sourceSize</key>
                <string>{104,92}</string>
            </dict>
            <key>pack_coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1459,1524},{111,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,95}}</string>
                <key>sourceSize</key>
                <string>{111,95}</string>
            </dict>
            <key>pack_diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1554},{110,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,92}}</string>
                <key>sourceSize</key>
                <string>{110,92}</string>
            </dict>
            <key>pack_shell.png</key>
            <dict>
                <key>frame</key>
                <string>{{1567,1375},{110,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,95}}</string>
                <key>sourceSize</key>
                <string>{110,95}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>van-cat.png</string>
            <key>size</key>
            <string>{1807,1647}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ea431939943aee5a3e6026dd8008afe6:0bd8361f73a8136a9f550f5daaa26975:37f154f9984a5f8cd4ee11944e07d3c4$</string>
            <key>textureFileName</key>
            <string>van-cat.png</string>
        </dict>
    </dict>
</plist>
