<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>vfx/dots/Dot_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1501,478},{18,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,19}}</string>
                <key>sourceSize</key>
                <string>{18,19}</string>
            </dict>
            <key>vfx/dots/Dot_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,157},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>vfx/dots/Dot_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1501,361},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>vfx/dots/Dot_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1600,320},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>vfx/dots/Dot_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1169,1},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>vfx/glows/Glow_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1600,1},{317,314}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{317,314}}</string>
                <key>sourceSize</key>
                <string>{317,314}</string>
            </dict>
            <key>vfx/glows/Glow_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1240,361},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>vfx/glows/Glow_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1240,1},{358,358}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{358,358}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>vfx/glows/Glow_04_In.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,95},{154,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,60}}</string>
                <key>sourceSize</key>
                <string>{154,60}</string>
            </dict>
            <key>vfx/glows/Glow_04_Out.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,1},{186,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,92}}</string>
                <key>sourceSize</key>
                <string>{186,92}</string>
            </dict>
            <key>vfx/glows/HighlightLine.png</key>
            <dict>
                <key>frame</key>
                <string>{{1064,1},{103,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,47}}</string>
                <key>sourceSize</key>
                <string>{103,47}</string>
            </dict>
            <key>vfx/light/Blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{1374,361},{125,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,126}}</string>
                <key>sourceSize</key>
                <string>{125,126}</string>
            </dict>
            <key>vfx/light/Spot.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{187,873}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,873}}</string>
                <key>sourceSize</key>
                <string>{187,873}</string>
            </dict>
            <key>vfx/other/Star.png</key>
            <dict>
                <key>frame</key>
                <string>{{1501,425},{50,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,51}}</string>
                <key>sourceSize</key>
                <string>{50,51}</string>
            </dict>
            <key>vfx/other/Trumpet.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,190},{411,307}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{411,307}}</string>
                <key>sourceSize</key>
                <string>{411,307}</string>
            </dict>
            <key>vfx/other/Trumpet_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,190},{411,307}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{411,307}}</string>
                <key>sourceSize</key>
                <string>{411,307}</string>
            </dict>
            <key>vfx/other/Trumpet_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,190},{411,307}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{411,307}}</string>
                <key>sourceSize</key>
                <string>{411,307}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Vfx.png</string>
            <key>size</key>
            <string>{1915,498}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fcc10d85b2339013b6843ce447212b7f:3ba97b2eaafa3be82c4ebc02d007163a:0e61c36433c49db8efeebe464199c23a$</string>
            <key>textureFileName</key>
            <string>Vfx.png</string>
        </dict>
    </dict>
</plist>
