<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>basics2/arrows/Arrow_01_Left.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,1040},{84,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,91}}</string>
                <key>sourceSize</key>
                <string>{84,91}</string>
            </dict>
            <key>basics2/arrows/Arrow_01_Right.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,1040},{84,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,91}}</string>
                <key>sourceSize</key>
                <string>{84,91}</string>
            </dict>
            <key>basics2/bars/Bar_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,1},{162,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,24}}</string>
                <key>sourceSize</key>
                <string>{162,24}</string>
            </dict>
            <key>basics2/bars/Bar_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,757},{159,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,21}}</string>
                <key>sourceSize</key>
                <string>{159,21}</string>
            </dict>
            <key>basics2/bars/Bar_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1114},{332,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{332,24}}</string>
                <key>sourceSize</key>
                <string>{332,24}</string>
            </dict>
            <key>basics2/bars/Bar_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,1014},{332,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{332,24}}</string>
                <key>sourceSize</key>
                <string>{332,24}</string>
            </dict>
            <key>basics2/bars/Bar_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,792},{480,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,33}}</string>
                <key>sourceSize</key>
                <string>{480,33}</string>
            </dict>
            <key>basics2/bars/Bar_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,757},{484,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{484,33}}</string>
                <key>sourceSize</key>
                <string>{484,33}</string>
            </dict>
            <key>basics2/bars/Bar_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1065},{543,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{543,47}}</string>
                <key>sourceSize</key>
                <string>{543,47}</string>
            </dict>
            <key>basics2/bars/Bar_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,877},{543,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{543,47}}</string>
                <key>sourceSize</key>
                <string>{543,47}</string>
            </dict>
            <key>basics2/bars/Bar_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,827},{350,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,48}}</string>
                <key>sourceSize</key>
                <string>{350,48}</string>
            </dict>
            <key>basics2/bars/Bar_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,926},{344,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,42}}</string>
                <key>sourceSize</key>
                <string>{344,42}</string>
            </dict>
            <key>basics2/other/Box_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,926},{166,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,45}}</string>
                <key>sourceSize</key>
                <string>{166,45}</string>
            </dict>
            <key>basics2/other/Box_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,1040},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>basics2/other/Box_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,469},{253,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,178}}</string>
                <key>sourceSize</key>
                <string>{253,178}</string>
            </dict>
            <key>basics2/other/Box_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,194},{424,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{424,172}}</string>
                <key>sourceSize</key>
                <string>{424,172}</string>
            </dict>
            <key>basics2/other/Box_04_Glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,194},{349,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{349,54}}</string>
                <key>sourceSize</key>
                <string>{349,54}</string>
            </dict>
            <key>basics2/other/Box_04_Light_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,1},{442,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{442,191}}</string>
                <key>sourceSize</key>
                <string>{442,191}</string>
            </dict>
            <key>basics2/other/Box_04_Light_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,872},{442,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{442,191}}</string>
                <key>sourceSize</key>
                <string>{442,191}</string>
            </dict>
            <key>basics2/other/Box_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,469},{149,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,54}}</string>
                <key>sourceSize</key>
                <string>{149,54}</string>
            </dict>
            <key>basics2/other/Box_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,827},{95,37}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{95,37}}</string>
                <key>sourceSize</key>
                <string>{95,39}</string>
            </dict>
            <key>basics2/other/Box_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,469},{172,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,88}}</string>
                <key>sourceSize</key>
                <string>{172,88}</string>
            </dict>
            <key>basics2/other/Box_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,649},{477,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{477,106}}</string>
                <key>sourceSize</key>
                <string>{477,106}</string>
            </dict>
            <key>basics2/other/Box_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,725},{511,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{511,145}}</string>
                <key>sourceSize</key>
                <string>{511,145}</string>
            </dict>
            <key>basics2/other/Box_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,926},{183,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,55}}</string>
                <key>sourceSize</key>
                <string>{183,55}</string>
            </dict>
            <key>basics2/other/Box_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,1022},{57,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,57}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>basics2/other/Box_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,1022},{57,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,57}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>basics2/other/Check_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,1081},{41,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,42}}</string>
                <key>sourceSize</key>
                <string>{41,42}</string>
            </dict>
            <key>basics2/other/Check_01_Box.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,1081},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>basics2/popup/Header_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,368},{409,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{409,99}}</string>
                <key>sourceSize</key>
                <string>{409,99}</string>
            </dict>
            <key>basics2/popup/PopupReward_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{538,722}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{538,722}}</string>
                <key>sourceSize</key>
                <string>{538,722}</string>
            </dict>
            <key>basics2/tabs/Tab01.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,983},{164,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,37}}</string>
                <key>sourceSize</key>
                <string>{164,37}</string>
            </dict>
            <key>basics2/tabs/TabBackground01.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,970},{334,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,42}}</string>
                <key>sourceSize</key>
                <string>{334,42}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Basics2.png</string>
            <key>size</key>
            <string>{1022,1139}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3deb87f14df04b7ef41d6d376abf2cb1:50471f0f6a090f9633caacc9a72ca3b0:3e70778b6d784f12516810429f4cd1c7$</string>
            <key>textureFileName</key>
            <string>Basics2.png</string>
        </dict>
    </dict>
</plist>
