<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bigbet/Bigbet_Board.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,327},{230,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,133}}</string>
                <key>sourceSize</key>
                <string>{230,133}</string>
            </dict>
            <key>bigbet/Light_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,95},{241,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,109}}</string>
                <key>sourceSize</key>
                <string>{241,109}</string>
            </dict>
            <key>bigbet/Light_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{224,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,92}}</string>
                <key>sourceSize</key>
                <string>{224,92}</string>
            </dict>
            <key>bigbet/Star.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,206},{119,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,125}}</string>
                <key>sourceSize</key>
                <string>{119,125}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>BigBet.png</string>
            <key>size</key>
            <string>{243,461}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d1586fe71cd2dd2b4dac92bce8d5db6c:1b8cda5605a8e7aada95efe57384a046:c9333b557cbcb6d91613eb5bf0752214$</string>
            <key>textureFileName</key>
            <string>BigBet.png</string>
        </dict>
    </dict>
</plist>
