<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bingo/ui/AutoPlayCheckBoxBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,1144},{52,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,53}}</string>
                <key>sourceSize</key>
                <string>{52,53}</string>
            </dict>
            <key>bingo/ui/AvatarBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{1464,824},{197,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,201}}</string>
                <key>sourceSize</key>
                <string>{197,201}</string>
            </dict>
            <key>bingo/ui/AvatarFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1464,1023},{197,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,197}}</string>
                <key>sourceSize</key>
                <string>{197,197}</string>
            </dict>
            <key>bingo/ui/BarExp.png</key>
            <dict>
                <key>frame</key>
                <string>{{1667,824},{78,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,13}}</string>
                <key>sourceSize</key>
                <string>{78,13}</string>
            </dict>
            <key>bingo/ui/BarExpBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{1492,275},{78,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,14}}</string>
                <key>sourceSize</key>
                <string>{78,14}</string>
            </dict>
            <key>bingo/ui/BarGoldBet.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,1062},{125,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,37}}</string>
                <key>sourceSize</key>
                <string>{125,37}</string>
            </dict>
            <key>bingo/ui/BarTimer.png</key>
            <dict>
                <key>frame</key>
                <string>{{1462,1705},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,106}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>bingo/ui/BarTimerBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,1914},{116,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,117}}</string>
                <key>sourceSize</key>
                <string>{116,117}</string>
            </dict>
            <key>bingo/ui/BetTicketButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,1144},{91,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,55}}</string>
                <key>sourceSize</key>
                <string>{91,55}</string>
            </dict>
            <key>bingo/ui/BoxGoldWin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1642,1420},{107,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,47}}</string>
                <key>sourceSize</key>
                <string>{107,47}</string>
            </dict>
            <key>bingo/ui/BoxNumberBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{1170,1},{446,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{446,99}}</string>
                <key>sourceSize</key>
                <string>{446,99}</string>
            </dict>
            <key>bingo/ui/Chair.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1062},{151,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,152}}</string>
                <key>sourceSize</key>
                <string>{151,152}</string>
            </dict>
            <key>bingo/ui/Crown.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,1062},{194,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{194,141}}</string>
                <key>sourceSize</key>
                <string>{196,141}</string>
            </dict>
            <key>bingo/ui/EffectLetsBet_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1464,596},{226,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,226}}</string>
                <key>sourceSize</key>
                <string>{226,226}</string>
            </dict>
            <key>bingo/ui/EffectLetsBet_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1462,1222},{196,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,196}}</string>
                <key>sourceSize</key>
                <string>{196,196}</string>
            </dict>
            <key>bingo/ui/EmojiLose.png</key>
            <dict>
                <key>frame</key>
                <string>{{1492,295},{202,299}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,299}}</string>
                <key>sourceSize</key>
                <string>{202,299}</string>
            </dict>
            <key>bingo/ui/EmojiWin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1462,1420},{178,283}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,283}}</string>
                <key>sourceSize</key>
                <string>{178,283}</string>
            </dict>
            <key>bingo/ui/GlowLose.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1222},{817,784}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{817,784}}</string>
                <key>sourceSize</key>
                <string>{817,784}</string>
            </dict>
            <key>bingo/ui/GlowWin.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,1081},{640,831}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,831}}</string>
                <key>sourceSize</key>
                <string>{640,831}</string>
            </dict>
            <key>bingo/ui/HintHand.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,1062},{99,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,137}}</string>
                <key>sourceSize</key>
                <string>{99,137}</string>
            </dict>
            <key>bingo/ui/NumberBackground_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,1144},{71,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,76}}</string>
                <key>sourceSize</key>
                <string>{71,76}</string>
            </dict>
            <key>bingo/ui/NumberBackground_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,1144},{71,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,76}}</string>
                <key>sourceSize</key>
                <string>{71,76}</string>
            </dict>
            <key>bingo/ui/PlayerContainerBackground_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1249,1914},{146,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,115}}</string>
                <key>sourceSize</key>
                <string>{146,115}</string>
            </dict>
            <key>bingo/ui/PlayerContainerBackground_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,1914},{153,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,115}}</string>
                <key>sourceSize</key>
                <string>{153,115}</string>
            </dict>
            <key>bingo/ui/PlayerContainerBackground_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,1914},{153,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,115}}</string>
                <key>sourceSize</key>
                <string>{153,115}</string>
            </dict>
            <key>bingo/ui/Table.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{1059,1167}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{1059,1167}}</string>
                <key>sourceSize</key>
                <string>{1065,1169}</string>
            </dict>
            <key>bingo/ui/TicketBoxBlue.png</key>
            <dict>
                <key>frame</key>
                <string>{{1618,1},{292,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,80}}</string>
                <key>sourceSize</key>
                <string>{292,80}</string>
            </dict>
            <key>bingo/ui/TicketBoxGreen.png</key>
            <dict>
                <key>frame</key>
                <string>{{1170,589},{292,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,80}}</string>
                <key>sourceSize</key>
                <string>{292,80}</string>
            </dict>
            <key>bingo/ui/TicketBoxMint.png</key>
            <dict>
                <key>frame</key>
                <string>{{1170,671},{292,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,80}}</string>
                <key>sourceSize</key>
                <string>{292,80}</string>
            </dict>
            <key>bingo/ui/TicketBoxOrange.png</key>
            <dict>
                <key>frame</key>
                <string>{{1170,753},{292,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,80}}</string>
                <key>sourceSize</key>
                <string>{292,80}</string>
            </dict>
            <key>bingo/ui/TicketBoxPink.png</key>
            <dict>
                <key>frame</key>
                <string>{{1170,835},{292,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,80}}</string>
                <key>sourceSize</key>
                <string>{292,80}</string>
            </dict>
            <key>bingo/ui/TicketBoxPurple.png</key>
            <dict>
                <key>frame</key>
                <string>{{1170,917},{292,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,80}}</string>
                <key>sourceSize</key>
                <string>{292,80}</string>
            </dict>
            <key>bingo/ui/TicketBoxRed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1170,999},{292,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,80}}</string>
                <key>sourceSize</key>
                <string>{292,80}</string>
            </dict>
            <key>bingo/ui/TicketBoxViolet.png</key>
            <dict>
                <key>frame</key>
                <string>{{1397,1914},{292,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,80}}</string>
                <key>sourceSize</key>
                <string>{292,80}</string>
            </dict>
            <key>bingo/ui/TicketBoxYellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,1062},{292,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,80}}</string>
                <key>sourceSize</key>
                <string>{292,80}</string>
            </dict>
            <key>bingo/ui/TimerBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{1462,1813},{99,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,98}}</string>
                <key>sourceSize</key>
                <string>{99,98}</string>
            </dict>
            <key>bingo/ui/UserContainerBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{1170,102},{438,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{438,171}}</string>
                <key>sourceSize</key>
                <string>{438,171}</string>
            </dict>
            <key>bingo/ui/bingo_npc.png</key>
            <dict>
                <key>frame</key>
                <string>{{1170,275},{312,320}}</string>
                <key>offset</key>
                <string>{2,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,62},{312,320}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Bingo.png</string>
            <key>size</key>
            <string>{1699,2031}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:30249156644707cf1cf4f85e91e99dac:41579f0d3664cdd95217357acb0c6765:e3646007b49f416897587484131b51d0$</string>
            <key>textureFileName</key>
            <string>Bingo.png</string>
        </dict>
    </dict>
</plist>
