<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>build-up-pay/Background.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{596,316}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{596,316}}</string>
                <key>sourceSize</key>
                <string>{596,316}</string>
            </dict>
            <key>build-up-pay/MilestoneHighlightBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,49},{584,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{584,149}}</string>
                <key>sourceSize</key>
                <string>{584,149}</string>
            </dict>
            <key>build-up-pay/MilestoneProgressBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,623},{131,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,8}}</string>
                <key>sourceSize</key>
                <string>{131,8}</string>
            </dict>
            <key>build-up-pay/ProgressArrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,599},{22,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,12}}</string>
                <key>sourceSize</key>
                <string>{22,12}</string>
            </dict>
            <key>build-up-pay/ReceivedLabel.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,1},{154,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,46}}</string>
                <key>sourceSize</key>
                <string>{154,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>BuildUpPay.png</string>
            <key>size</key>
            <string>{474,634}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:db428313869a2164e5a86522c81e2d95:dda9c41878b0010242aa99da741384df:ca57071dedc099a8ed96983b3fde838f$</string>
            <key>textureFileName</key>
            <string>BuildUpPay.png</string>
        </dict>
    </dict>
</plist>
