<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buttons/circles/Close.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,1198},{68,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,76}}</string>
                <key>sourceSize</key>
                <string>{68,76}</string>
            </dict>
            <key>buttons/circles/CloseCircle.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,1276},{96,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,108}}</string>
                <key>sourceSize</key>
                <string>{96,108}</string>
            </dict>
            <key>buttons/circles/Gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,1522},{80,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,82}}</string>
                <key>sourceSize</key>
                <string>{80,82}</string>
            </dict>
            <key>buttons/circles/Help.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1687},{68,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,76}}</string>
                <key>sourceSize</key>
                <string>{68,76}</string>
            </dict>
            <key>buttons/circles/Help_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,1442},{78,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,85}}</string>
                <key>sourceSize</key>
                <string>{78,85}</string>
            </dict>
            <key>buttons/hexagonal/Blue_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1634},{141,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,51}}</string>
                <key>sourceSize</key>
                <string>{141,51}</string>
            </dict>
            <key>buttons/hexagonal/Blue_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,822},{195,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,188}}</string>
                <key>sourceSize</key>
                <string>{195,188}</string>
            </dict>
            <key>buttons/hexagonal/Violet_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,396},{119,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,42}}</string>
                <key>sourceSize</key>
                <string>{119,42}</string>
            </dict>
            <key>buttons/hexagonal/Violet_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1498},{143,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,134}}</string>
                <key>sourceSize</key>
                <string>{143,134}</string>
            </dict>
            <key>buttons/rectangles/02_Blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{242,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,88}}</string>
                <key>sourceSize</key>
                <string>{242,88}</string>
            </dict>
            <key>buttons/rectangles/02_Green.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,91},{240,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,88}}</string>
                <key>sourceSize</key>
                <string>{240,88}</string>
            </dict>
            <key>buttons/rectangles/Add.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,720},{31,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,32}}</string>
                <key>sourceSize</key>
                <string>{31,32}</string>
            </dict>
            <key>buttons/rectangles/Blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,1972},{126,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,52}}</string>
                <key>sourceSize</key>
                <string>{126,52}</string>
            </dict>
            <key>buttons/rectangles/BlueSelect.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,1002},{55,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,79}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>buttons/rectangles/BlueSmall.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,1972},{126,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,52}}</string>
                <key>sourceSize</key>
                <string>{126,52}</string>
            </dict>
            <key>buttons/rectangles/BlueUnselect.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1891},{55,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,79}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>buttons/rectangles/Blue_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,660},{206,79}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,79}}</string>
                <key>sourceSize</key>
                <string>{206,81}</string>
            </dict>
            <key>buttons/rectangles/Close.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,1604},{77,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,80}}</string>
                <key>sourceSize</key>
                <string>{77,80}</string>
            </dict>
            <key>buttons/rectangles/GoTo.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,1083},{113,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,64}}</string>
                <key>sourceSize</key>
                <string>{113,64}</string>
            </dict>
            <key>buttons/rectangles/Gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,741},{206,79}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,79}}</string>
                <key>sourceSize</key>
                <string>{206,81}</string>
            </dict>
            <key>buttons/rectangles/Green.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,411},{206,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,81}}</string>
                <key>sourceSize</key>
                <string>{206,81}</string>
            </dict>
            <key>buttons/rectangles/Green_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1765},{124,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,67}}</string>
                <key>sourceSize</key>
                <string>{124,67}</string>
            </dict>
            <key>buttons/rectangles/Green_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,181},{235,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,123}}</string>
                <key>sourceSize</key>
                <string>{235,123}</string>
            </dict>
            <key>buttons/rectangles/Minus.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,1687},{62,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,61}}</string>
                <key>sourceSize</key>
                <string>{62,61}</string>
            </dict>
            <key>buttons/rectangles/Plus.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,1750},{62,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,61}}</string>
                <key>sourceSize</key>
                <string>{62,61}</string>
            </dict>
            <key>buttons/rectangles/Red.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,494},{206,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,81}}</string>
                <key>sourceSize</key>
                <string>{206,81}</string>
            </dict>
            <key>buttons/rectangles/RedHoldIconExit.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,590},{62,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,40}}</string>
                <key>sourceSize</key>
                <string>{62,40}</string>
            </dict>
            <key>buttons/rectangles/RedHold_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1201},{295,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,145}}</string>
                <key>sourceSize</key>
                <string>{295,145}</string>
            </dict>
            <key>buttons/rectangles/RedHold_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,1683},{287,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{287,111}}</string>
                <key>sourceSize</key>
                <string>{287,111}</string>
            </dict>
            <key>buttons/rectangles/Yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,577},{206,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,81}}</string>
                <key>sourceSize</key>
                <string>{206,81}</string>
            </dict>
            <key>buttons/rectangles/YellowWithCoin.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,517},{71,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,42}}</string>
                <key>sourceSize</key>
                <string>{71,42}</string>
            </dict>
            <key>buttons/rectangles/YellowWithCoinBig.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,1386},{91,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,54}}</string>
                <key>sourceSize</key>
                <string>{91,54}</string>
            </dict>
            <key>buttons/rectangles/YellowWithRed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,306},{206,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,103}}</string>
                <key>sourceSize</key>
                <string>{206,103}</string>
            </dict>
            <key>buttons/rectangles/Yellow_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1122},{184,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,77}}</string>
                <key>sourceSize</key>
                <string>{184,77}</string>
            </dict>
            <key>buttons/squares/BoxBlue.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,1813},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,61}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>buttons/squares/Close.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1972},{73,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,73}}</string>
                <key>sourceSize</key>
                <string>{73,73}</string>
            </dict>
            <key>buttons/squares/ExitBlue.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,356},{44,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,38}}</string>
                <key>sourceSize</key>
                <string>{44,38}</string>
            </dict>
            <key>buttons/squares/Info.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,1876},{55,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,53}}</string>
                <key>sourceSize</key>
                <string>{55,53}</string>
            </dict>
            <key>buttons/switch/Off.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,913},{87,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,56}}</string>
                <key>sourceSize</key>
                <string>{87,56}</string>
            </dict>
            <key>buttons/switch/OffBgr.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1012},{187,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,53}}</string>
                <key>sourceSize</key>
                <string>{187,53}</string>
            </dict>
            <key>buttons/switch/On.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,822},{89,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,57}}</string>
                <key>sourceSize</key>
                <string>{89,57}</string>
            </dict>
            <key>buttons/switch/OnBgr.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1067},{187,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,53}}</string>
                <key>sourceSize</key>
                <string>{187,53}</string>
            </dict>
            <key>buttons/triangles/Gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,1931},{48,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,50}}</string>
                <key>sourceSize</key>
                <string>{48,50}</string>
            </dict>
            <key>buttons/triangles/Silver.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,1981},{48,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,50}}</string>
                <key>sourceSize</key>
                <string>{48,50}</string>
            </dict>
            <key>buttons/triangles/Wood.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,306},{44,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{44,48}}</string>
                <key>sourceSize</key>
                <string>{48,50}</string>
            </dict>
            <key>buttons/triangles/Yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,654},{37,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,64}}</string>
                <key>sourceSize</key>
                <string>{37,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Buttons.png</string>
            <key>size</key>
            <string>{256,2046}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ba1599dde4ae11b484f3b3c7985d40da:3b4053d22e42ce109f34f290f341d4b7:49b6939ab344b99a0a11fe0530bc9ec0$</string>
            <key>textureFileName</key>
            <string>Buttons.png</string>
        </dict>
    </dict>
</plist>
