<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>card-collection/card-elements/CardAmountIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,464},{38,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,36}}</string>
                <key>sourceSize</key>
                <string>{38,36}</string>
            </dict>
            <key>card-collection/card-elements/CardAmountIconLarge.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,413},{96,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,92}}</string>
                <key>sourceSize</key>
                <string>{96,92}</string>
            </dict>
            <key>card-collection/card-elements/CardCommonBlank.png</key>
            <dict>
                <key>frame</key>
                <string>{{1403,154},{124,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,164}}</string>
                <key>sourceSize</key>
                <string>{124,164}</string>
            </dict>
            <key>card-collection/card-elements/CardCommonFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1139,1},{151,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,211}}</string>
                <key>sourceSize</key>
                <string>{151,211}</string>
            </dict>
            <key>card-collection/card-elements/CardCommonFrameLarge.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{410,567}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{410,567}}</string>
                <key>sourceSize</key>
                <string>{410,567}</string>
            </dict>
            <key>card-collection/card-elements/CardNewIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,464},{38,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,36}}</string>
                <key>sourceSize</key>
                <string>{38,36}</string>
            </dict>
            <key>card-collection/card-elements/CardNewIconLarge.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,413},{96,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,92}}</string>
                <key>sourceSize</key>
                <string>{96,92}</string>
            </dict>
            <key>card-collection/card-elements/CardRareBlank.png</key>
            <dict>
                <key>frame</key>
                <string>{{1309,337},{128,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,164}}</string>
                <key>sourceSize</key>
                <string>{128,164}</string>
            </dict>
            <key>card-collection/card-elements/CardRareFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1352,1},{151,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,211}}</string>
                <key>sourceSize</key>
                <string>{151,211}</string>
            </dict>
            <key>card-collection/card-elements/CardRareFrameLarge.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,1},{410,567}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{410,567}}</string>
                <key>sourceSize</key>
                <string>{410,567}</string>
            </dict>
            <key>card-collection/card-elements/Glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,413},{127,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,49}}</string>
                <key>sourceSize</key>
                <string>{127,49}</string>
            </dict>
            <key>card-collection/card-elements/SetFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1139,337},{168,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,168}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>card-collection/card-elements/Star.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,413},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>card-collection/card-elements/StarCommonBlank.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,464},{29,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,29}}</string>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
            <key>card-collection/card-elements/StarLarge.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,413},{72,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,73}}</string>
                <key>sourceSize</key>
                <string>{72,73}</string>
            </dict>
            <key>card-collection/card-elements/StarRareBlank.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,464},{29,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,29}}</string>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
            <key>card-collection/joker-card/Avatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1139,154},{130,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,181}}</string>
                <key>sourceSize</key>
                <string>{130,181}</string>
            </dict>
            <key>card-collection/joker-card/AvatarDisabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{1271,154},{130,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,181}}</string>
                <key>sourceSize</key>
                <string>{130,181}</string>
            </dict>
            <key>card-collection/joker-card/Icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,413},{89,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,92}}</string>
                <key>sourceSize</key>
                <string>{89,92}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>CardCollection.png</string>
            <key>size</key>
            <string>{1564,506}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d8d6daff42c3b6b8350276e210c3d75d:5c089048614364629a094176a0bc0ecd:f0643572ba91f821ca39c631ed145190$</string>
            <key>textureFileName</key>
            <string>CardCollection.png</string>
        </dict>
    </dict>
</plist>
