<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cards/00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1276,181},{186,254}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,254}}</string>
                <key>sourceSize</key>
                <string>{186,256}</string>
            </dict>
            <key>cards/01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1532,181},{186,254}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,254}}</string>
                <key>sourceSize</key>
                <string>{186,256}</string>
            </dict>
            <key>cards/01_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{1788,187},{186,254}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,254}}</string>
                <key>sourceSize</key>
                <string>{186,256}</string>
            </dict>
            <key>cards/02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,237},{186,254}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,254}}</string>
                <key>sourceSize</key>
                <string>{186,256}</string>
            </dict>
            <key>cards/03.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,237},{186,254}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,254}}</string>
                <key>sourceSize</key>
                <string>{186,256}</string>
            </dict>
            <key>cards/04.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,237},{186,254}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,254}}</string>
                <key>sourceSize</key>
                <string>{186,256}</string>
            </dict>
            <key>cards/05.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,367},{186,254}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,254}}</string>
                <key>sourceSize</key>
                <string>{186,256}</string>
            </dict>
            <key>cards/06.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,367},{186,254}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,254}}</string>
                <key>sourceSize</key>
                <string>{186,256}</string>
            </dict>
            <key>cards/07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1213,369},{186,254}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,254}}</string>
                <key>sourceSize</key>
                <string>{186,256}</string>
            </dict>
            <key>cards/08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1469,369},{186,254}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,254}}</string>
                <key>sourceSize</key>
                <string>{186,256}</string>
            </dict>
            <key>cards/09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1725,375},{186,254}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,254}}</string>
                <key>sourceSize</key>
                <string>{186,256}</string>
            </dict>
            <key>cards/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,425},{186,254}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,254}}</string>
                <key>sourceSize</key>
                <string>{186,256}</string>
            </dict>
            <key>cards/11.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,425},{186,254}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,254}}</string>
                <key>sourceSize</key>
                <string>{186,256}</string>
            </dict>
            <key>cards/11_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,555},{186,254}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,254}}</string>
                <key>sourceSize</key>
                <string>{186,256}</string>
            </dict>
            <key>cards/12.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,555},{186,254}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,254}}</string>
                <key>sourceSize</key>
                <string>{186,256}</string>
            </dict>
            <key>cards/13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1025,557},{186,254}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,254}}</string>
                <key>sourceSize</key>
                <string>{186,256}</string>
            </dict>
            <key>cards/14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1281,557},{186,254}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,254}}</string>
                <key>sourceSize</key>
                <string>{186,256}</string>
            </dict>
            <key>cards/14_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{1537,563},{186,254}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,254}}</string>
                <key>sourceSize</key>
                <string>{186,256}</string>
            </dict>
            <key>cards/15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1793,563},{186,254}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,254}}</string>
                <key>sourceSize</key>
                <string>{186,256}</string>
            </dict>
            <key>cards/15_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,613},{186,254}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,254}}</string>
                <key>sourceSize</key>
                <string>{186,256}</string>
            </dict>
            <key>cards/16.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,613},{186,254}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,254}}</string>
                <key>sourceSize</key>
                <string>{186,256}</string>
            </dict>
            <key>cards/17.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,743},{186,254}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,254}}</string>
                <key>sourceSize</key>
                <string>{186,256}</string>
            </dict>
            <key>cards/18.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,743},{186,254}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,254}}</string>
                <key>sourceSize</key>
                <string>{186,256}</string>
            </dict>
            <key>cards/19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1025,745},{186,254}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,254}}</string>
                <key>sourceSize</key>
                <string>{186,256}</string>
            </dict>
            <key>cards/20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1281,745},{186,254}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,254}}</string>
                <key>sourceSize</key>
                <string>{186,256}</string>
            </dict>
            <key>cards/21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1537,751},{186,254}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,254}}</string>
                <key>sourceSize</key>
                <string>{186,256}</string>
            </dict>
            <key>cards/22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1793,751},{186,254}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,254}}</string>
                <key>sourceSize</key>
                <string>{186,256}</string>
            </dict>
            <key>cards/23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,801},{186,254}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,254}}</string>
                <key>sourceSize</key>
                <string>{186,256}</string>
            </dict>
            <key>cards/24.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,801},{186,254}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,254}}</string>
                <key>sourceSize</key>
                <string>{186,256}</string>
            </dict>
            <key>cards/24_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,931},{186,254}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,254}}</string>
                <key>sourceSize</key>
                <string>{186,256}</string>
            </dict>
            <key>cards/25.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,931},{186,254}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,254}}</string>
                <key>sourceSize</key>
                <string>{186,256}</string>
            </dict>
            <key>cards/26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1025,933},{186,254}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,254}}</string>
                <key>sourceSize</key>
                <string>{186,256}</string>
            </dict>
            <key>cards/27.png</key>
            <dict>
                <key>frame</key>
                <string>{{1281,933},{186,254}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,254}}</string>
                <key>sourceSize</key>
                <string>{186,256}</string>
            </dict>
            <key>cards/27_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,1},{178,248}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{178,248}}</string>
                <key>sourceSize</key>
                <string>{186,256}</string>
            </dict>
            <key>cards/28.png</key>
            <dict>
                <key>frame</key>
                <string>{{1537,939},{186,254}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,254}}</string>
                <key>sourceSize</key>
                <string>{186,256}</string>
            </dict>
            <key>cards/29.png</key>
            <dict>
                <key>frame</key>
                <string>{{1793,939},{186,254}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,254}}</string>
                <key>sourceSize</key>
                <string>{186,256}</string>
            </dict>
            <key>cards/30.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,989},{186,254}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,254}}</string>
                <key>sourceSize</key>
                <string>{186,256}</string>
            </dict>
            <key>cards/31.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,989},{186,254}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,254}}</string>
                <key>sourceSize</key>
                <string>{186,256}</string>
            </dict>
            <key>cards/32.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,1119},{186,254}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,254}}</string>
                <key>sourceSize</key>
                <string>{186,256}</string>
            </dict>
            <key>cards/33.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,1119},{186,254}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,254}}</string>
                <key>sourceSize</key>
                <string>{186,256}</string>
            </dict>
            <key>cards/34.png</key>
            <dict>
                <key>frame</key>
                <string>{{1025,1121},{186,254}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,254}}</string>
                <key>sourceSize</key>
                <string>{186,256}</string>
            </dict>
            <key>cards/35.png</key>
            <dict>
                <key>frame</key>
                <string>{{1281,1121},{186,254}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,254}}</string>
                <key>sourceSize</key>
                <string>{186,256}</string>
            </dict>
            <key>cards/36.png</key>
            <dict>
                <key>frame</key>
                <string>{{1537,1127},{186,254}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,254}}</string>
                <key>sourceSize</key>
                <string>{186,256}</string>
            </dict>
            <key>cards/36_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{1793,1127},{186,254}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,254}}</string>
                <key>sourceSize</key>
                <string>{186,256}</string>
            </dict>
            <key>cards/37.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1177},{186,254}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,254}}</string>
                <key>sourceSize</key>
                <string>{186,256}</string>
            </dict>
            <key>cards/37_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,1177},{186,254}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,254}}</string>
                <key>sourceSize</key>
                <string>{186,256}</string>
            </dict>
            <key>cards/38.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,1307},{186,254}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,254}}</string>
                <key>sourceSize</key>
                <string>{186,256}</string>
            </dict>
            <key>cards/39.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,1307},{186,254}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,254}}</string>
                <key>sourceSize</key>
                <string>{186,256}</string>
            </dict>
            <key>cards/40.png</key>
            <dict>
                <key>frame</key>
                <string>{{1025,1309},{186,254}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,254}}</string>
                <key>sourceSize</key>
                <string>{186,256}</string>
            </dict>
            <key>cards/40_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{1281,1309},{186,254}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,254}}</string>
                <key>sourceSize</key>
                <string>{186,256}</string>
            </dict>
            <key>cards/41.png</key>
            <dict>
                <key>frame</key>
                <string>{{1537,1315},{186,254}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,254}}</string>
                <key>sourceSize</key>
                <string>{186,256}</string>
            </dict>
            <key>cards/42.png</key>
            <dict>
                <key>frame</key>
                <string>{{1793,1315},{186,254}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,254}}</string>
                <key>sourceSize</key>
                <string>{186,256}</string>
            </dict>
            <key>cards/43.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1365},{186,254}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,254}}</string>
                <key>sourceSize</key>
                <string>{186,256}</string>
            </dict>
            <key>cards/44.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,1365},{186,254}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,254}}</string>
                <key>sourceSize</key>
                <string>{186,256}</string>
            </dict>
            <key>cards/45.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,1495},{186,254}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,254}}</string>
                <key>sourceSize</key>
                <string>{186,256}</string>
            </dict>
            <key>cards/46.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,1495},{186,254}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,254}}</string>
                <key>sourceSize</key>
                <string>{186,256}</string>
            </dict>
            <key>cards/47.png</key>
            <dict>
                <key>frame</key>
                <string>{{1025,1497},{186,254}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,254}}</string>
                <key>sourceSize</key>
                <string>{186,256}</string>
            </dict>
            <key>cards/48.png</key>
            <dict>
                <key>frame</key>
                <string>{{1281,1497},{186,254}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,254}}</string>
                <key>sourceSize</key>
                <string>{186,256}</string>
            </dict>
            <key>cards/49.png</key>
            <dict>
                <key>frame</key>
                <string>{{1537,1503},{186,254}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,254}}</string>
                <key>sourceSize</key>
                <string>{186,256}</string>
            </dict>
            <key>cards/50.png</key>
            <dict>
                <key>frame</key>
                <string>{{1793,1503},{186,254}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,254}}</string>
                <key>sourceSize</key>
                <string>{186,256}</string>
            </dict>
            <key>cards/50_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1553},{186,254}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,254}}</string>
                <key>sourceSize</key>
                <string>{186,256}</string>
            </dict>
            <key>cards/51.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,1553},{186,254}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,254}}</string>
                <key>sourceSize</key>
                <string>{186,256}</string>
            </dict>
            <key>cards/52.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,1683},{186,254}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,254}}</string>
                <key>sourceSize</key>
                <string>{186,256}</string>
            </dict>
            <key>cards/backs/Blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,1683},{186,254}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,254}}</string>
                <key>sourceSize</key>
                <string>{186,256}</string>
            </dict>
            <key>cards/backs/Carpet.png</key>
            <dict>
                <key>frame</key>
                <string>{{1793,1},{184,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,253}}</string>
                <key>sourceSize</key>
                <string>{184,253}</string>
            </dict>
            <key>cards/backs/Cat.png</key>
            <dict>
                <key>frame</key>
                <string>{{1043,1},{178,248}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{178,248}}</string>
                <key>sourceSize</key>
                <string>{186,256}</string>
            </dict>
            <key>cards/backs/Dog.png</key>
            <dict>
                <key>frame</key>
                <string>{{1293,1},{178,248}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{178,248}}</string>
                <key>sourceSize</key>
                <string>{186,256}</string>
            </dict>
            <key>cards/backs/Dragon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,51},{184,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,253}}</string>
                <key>sourceSize</key>
                <string>{184,253}</string>
            </dict>
            <key>cards/backs/ExpPass.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,51},{184,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,253}}</string>
                <key>sourceSize</key>
                <string>{184,253}</string>
            </dict>
            <key>cards/backs/Green.png</key>
            <dict>
                <key>frame</key>
                <string>{{1025,1685},{186,254}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,254}}</string>
                <key>sourceSize</key>
                <string>{186,256}</string>
            </dict>
            <key>cards/backs/Highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1741},{191,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{191,262}}</string>
                <key>sourceSize</key>
                <string>{201,270}</string>
            </dict>
            <key>cards/backs/IconBlue.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,1},{48,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{48,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>cards/backs/IconCarpet.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,1},{48,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{48,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>cards/backs/IconCat.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{46,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{46,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>cards/backs/IconDog.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,1},{48,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{48,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>cards/backs/IconDragon.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,1},{48,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{48,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>cards/backs/IconExpPass.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,1},{48,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{48,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>cards/backs/IconGreen.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,1},{48,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{48,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>cards/backs/IconOcean.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,1},{48,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{48,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>cards/backs/IconRamadan.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,1},{48,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{48,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>cards/backs/IconRoyal.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,1},{48,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{48,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>cards/backs/IconShark.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,1},{48,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{48,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>cards/backs/IconVip.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,1},{48,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{48,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>cards/backs/Ocean.png</key>
            <dict>
                <key>frame</key>
                <string>{{1543,1},{178,248}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{178,248}}</string>
                <key>sourceSize</key>
                <string>{186,256}</string>
            </dict>
            <key>cards/backs/Orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{1281,1685},{186,254}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,254}}</string>
                <key>sourceSize</key>
                <string>{186,256}</string>
            </dict>
            <key>cards/backs/Ramadan.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,51},{184,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,253}}</string>
                <key>sourceSize</key>
                <string>{184,253}</string>
            </dict>
            <key>cards/backs/Royal.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,181},{184,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,253}}</string>
                <key>sourceSize</key>
                <string>{184,253}</string>
            </dict>
            <key>cards/backs/Shark.png</key>
            <dict>
                <key>frame</key>
                <string>{{1021,181},{184,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,253}}</string>
                <key>sourceSize</key>
                <string>{184,253}</string>
            </dict>
            <key>cards/backs/Vip.png</key>
            <dict>
                <key>frame</key>
                <string>{{1537,1691},{186,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,256}}</string>
                <key>sourceSize</key>
                <string>{186,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Cards.png</string>
            <key>size</key>
            <string>{2048,1933}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d5d63e389daffbd2968f9008702887d6:b2c55d1d33db82d533c6e9ac869c5735:2a5842ce307e3fecaaef70d013efbe66$</string>
            <key>textureFileName</key>
            <string>Cards.png</string>
        </dict>
    </dict>
</plist>
