<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>card-flip-particular/Card_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1344},{119,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,170}}</string>
                <key>sourceSize</key>
                <string>{119,170}</string>
            </dict>
            <key>card-flip-particular/Card_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,1344},{119,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,170}}</string>
                <key>sourceSize</key>
                <string>{119,170}</string>
            </dict>
            <key>card-flip-particular/Card_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,1344},{119,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,170}}</string>
                <key>sourceSize</key>
                <string>{119,170}</string>
            </dict>
            <key>card-flip-particular/Card_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,1344},{119,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,170}}</string>
                <key>sourceSize</key>
                <string>{119,170}</string>
            </dict>
            <key>card-flip-particular/Card_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,1343},{119,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,170}}</string>
                <key>sourceSize</key>
                <string>{119,170}</string>
            </dict>
            <key>card-flip-particular/Card_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,1343},{119,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,170}}</string>
                <key>sourceSize</key>
                <string>{119,170}</string>
            </dict>
            <key>card-flip-particular/Card_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1033,1343},{119,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,170}}</string>
                <key>sourceSize</key>
                <string>{119,170}</string>
            </dict>
            <key>card-flip-particular/Card_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1617,609},{119,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,170}}</string>
                <key>sourceSize</key>
                <string>{119,170}</string>
            </dict>
            <key>card-flip-particular/Card_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1217,1124},{119,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,170}}</string>
                <key>sourceSize</key>
                <string>{119,170}</string>
            </dict>
            <key>card-flip-particular/Card_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1338,1124},{119,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,170}}</string>
                <key>sourceSize</key>
                <string>{119,170}</string>
            </dict>
            <key>card-flip-particular/Card_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1459,1124},{119,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,170}}</string>
                <key>sourceSize</key>
                <string>{119,170}</string>
            </dict>
            <key>card-flip-particular/Card_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1580,1124},{119,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,170}}</string>
                <key>sourceSize</key>
                <string>{119,170}</string>
            </dict>
            <key>card-flip-particular/Card_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1701,730},{119,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,170}}</string>
                <key>sourceSize</key>
                <string>{119,170}</string>
            </dict>
            <key>card-flip-particular/Card_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1701,902},{119,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,170}}</string>
                <key>sourceSize</key>
                <string>{119,170}</string>
            </dict>
            <key>card-flip-particular/Card_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1701,1074},{119,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,170}}</string>
                <key>sourceSize</key>
                <string>{119,170}</string>
            </dict>
            <key>card-flip-particular/Card_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1701,1246},{119,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,170}}</string>
                <key>sourceSize</key>
                <string>{119,170}</string>
            </dict>
            <key>card-flip-particular/Card_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1217,1296},{119,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,170}}</string>
                <key>sourceSize</key>
                <string>{119,170}</string>
            </dict>
            <key>card-flip-particular/Card_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1389,1296},{119,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,170}}</string>
                <key>sourceSize</key>
                <string>{119,170}</string>
            </dict>
            <key>card-flip-particular/Cards.png</key>
            <dict>
                <key>frame</key>
                <string>{{1492,575},{123,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,170}}</string>
                <key>sourceSize</key>
                <string>{123,170}</string>
            </dict>
            <key>new-card-flip/Chair.png</key>
            <dict>
                <key>frame</key>
                <string>{{1492,421},{151,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,152}}</string>
                <key>sourceSize</key>
                <string>{151,152}</string>
            </dict>
            <key>new-card-flip/DealCard_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,970},{152,606}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,606}}</string>
                <key>sourceSize</key>
                <string>{152,606}</string>
            </dict>
            <key>new-card-flip/DealCard_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1170},{172,606}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,606}}</string>
                <key>sourceSize</key>
                <string>{172,606}</string>
            </dict>
            <key>new-card-flip/EffectLose.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,421},{428,376}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{428,376}}</string>
                <key>sourceSize</key>
                <string>{428,376}</string>
            </dict>
            <key>new-card-flip/EffectWin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,1},{586,418}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{586,418}}</string>
                <key>sourceSize</key>
                <string>{586,418}</string>
            </dict>
            <key>new-card-flip/ShuffleCard_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1650,1},{152,606}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,606}}</string>
                <key>sourceSize</key>
                <string>{152,606}</string>
            </dict>
            <key>new-card-flip/ShuffleCard_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,799},{169,606}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,606}}</string>
                <key>sourceSize</key>
                <string>{169,606}</string>
            </dict>
            <key>new-card-flip/ShuffleCard_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,1170},{171,606}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,606}}</string>
                <key>sourceSize</key>
                <string>{171,606}</string>
            </dict>
            <key>new-card-flip/ShuffleCard_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1650,1},{152,606}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,606}}</string>
                <key>sourceSize</key>
                <string>{152,606}</string>
            </dict>
            <key>new-card-flip/Table.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{1059,1167}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{1059,1167}}</string>
                <key>sourceSize</key>
                <string>{1065,1169}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>CardFlip.png</string>
            <key>size</key>
            <string>{1821,1464}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1495ab08c48ee21b14bd43b40aabca53:45c79a31294c126973820f637002a38b:ede37cfd57f87a2950a8e48edee61af9$</string>
            <key>textureFileName</key>
            <string>CardFlip.png</string>
        </dict>
    </dict>
</plist>
