<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>card-collection/cards/FastFood_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1586,1533},{239,209}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,19},{239,209}}</string>
                <key>sourceSize</key>
                <string>{265,255}</string>
            </dict>
            <key>card-collection/cards/FastFood_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1076,1580},{261,225}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,17},{261,225}}</string>
                <key>sourceSize</key>
                <string>{265,255}</string>
            </dict>
            <key>card-collection/cards/FastFood_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1785,565},{235,205}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,23},{235,205}}</string>
                <key>sourceSize</key>
                <string>{265,255}</string>
            </dict>
            <key>card-collection/cards/FastFood_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1076,1329},{255,249}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{255,249}}</string>
                <key>sourceSize</key>
                <string>{265,255}</string>
            </dict>
            <key>card-collection/cards/FastFood_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1355,1284},{249,247}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{249,247}}</string>
                <key>sourceSize</key>
                <string>{265,255}</string>
            </dict>
            <key>card-collection/cards/FastFood_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1715,772},{265,241}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{265,241}}</string>
                <key>sourceSize</key>
                <string>{265,255}</string>
            </dict>
            <key>card-collection/cards/Fish_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1009,972},{344,355}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,355}}</string>
                <key>sourceSize</key>
                <string>{344,355}</string>
            </dict>
            <key>card-collection/cards/Fish_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,1765},{150,426}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,426}}</string>
                <key>sourceSize</key>
                <string>{150,426}</string>
            </dict>
            <key>card-collection/cards/Fish_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1533,453},{250,317}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,317}}</string>
                <key>sourceSize</key>
                <string>{250,317}</string>
            </dict>
            <key>card-collection/cards/Fish_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1656},{344,378}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,378}}</string>
                <key>sourceSize</key>
                <string>{344,378}</string>
            </dict>
            <key>card-collection/cards/Fish_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1064,770},{200,366}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,366}}</string>
                <key>sourceSize</key>
                <string>{200,366}</string>
            </dict>
            <key>card-collection/cards/Fish_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,1025},{293,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,450}}</string>
                <key>sourceSize</key>
                <string>{293,450}</string>
            </dict>
            <key>card-collection/cards/Fruit_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1273,1807},{231,211}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,75},{231,211}}</string>
                <key>sourceSize</key>
                <string>{265,359}</string>
            </dict>
            <key>card-collection/cards/Fruit_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1339,1533},{245,243}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,59},{245,243}}</string>
                <key>sourceSize</key>
                <string>{265,359}</string>
            </dict>
            <key>card-collection/cards/Fruit_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1355,1015},{251,267}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,46},{251,267}}</string>
                <key>sourceSize</key>
                <string>{265,359}</string>
            </dict>
            <key>card-collection/cards/Fruit_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1785,322},{241,233}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,63},{241,233}}</string>
                <key>sourceSize</key>
                <string>{265,359}</string>
            </dict>
            <key>card-collection/cards/Fruit_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040,1807},{231,223}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,69},{231,223}}</string>
                <key>sourceSize</key>
                <string>{265,359}</string>
            </dict>
            <key>card-collection/cards/Fruit_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1432,772},{241,281}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,40},{241,281}}</string>
                <key>sourceSize</key>
                <string>{265,359}</string>
            </dict>
            <key>card-collection/cards/Girl_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,513},{341,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,450}}</string>
                <key>sourceSize</key>
                <string>{341,450}</string>
            </dict>
            <key>card-collection/cards/Girl_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1423,1},{330,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,450}}</string>
                <key>sourceSize</key>
                <string>{330,450}</string>
            </dict>
            <key>card-collection/cards/Girl_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,1477},{286,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,450}}</string>
                <key>sourceSize</key>
                <string>{286,450}</string>
            </dict>
            <key>card-collection/cards/Girl_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1081,453},{315,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{315,450}}</string>
                <key>sourceSize</key>
                <string>{315,450}</string>
            </dict>
            <key>card-collection/cards/Girl_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1081,1},{340,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,450}}</string>
                <key>sourceSize</key>
                <string>{340,450}</string>
            </dict>
            <key>card-collection/cards/Girl_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,1025},{351,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{351,450}}</string>
                <key>sourceSize</key>
                <string>{351,450}</string>
            </dict>
            <key>card-collection/cards/Mexico_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1506,1778},{203,241}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,59},{203,241}}</string>
                <key>sourceSize</key>
                <string>{265,359}</string>
            </dict>
            <key>card-collection/cards/Mexico_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1608,1015},{265,175}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,102},{265,175}}</string>
                <key>sourceSize</key>
                <string>{265,351}</string>
            </dict>
            <key>card-collection/cards/Mexico_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1755,1},{265,319}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{265,319}}</string>
                <key>sourceSize</key>
                <string>{265,351}</string>
            </dict>
            <key>card-collection/cards/Mexico_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1785,1015},{265,203}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,63},{265,203}}</string>
                <key>sourceSize</key>
                <string>{265,339}</string>
            </dict>
            <key>card-collection/cards/Mexico_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,1788},{263,239}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,57},{263,239}}</string>
                <key>sourceSize</key>
                <string>{265,339}</string>
            </dict>
            <key>card-collection/cards/Mexico_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,1477},{261,309}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{261,309}}</string>
                <key>sourceSize</key>
                <string>{265,339}</string>
            </dict>
            <key>card-collection/cards/Statue_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,632},{358,510}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{358,510}}</string>
                <key>sourceSize</key>
                <string>{358,510}</string>
            </dict>
            <key>card-collection/cards/Statue_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,1},{358,510}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{358,510}}</string>
                <key>sourceSize</key>
                <string>{358,510}</string>
            </dict>
            <key>card-collection/cards/Statue_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{358,629}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{358,629}}</string>
                <key>sourceSize</key>
                <string>{358,629}</string>
            </dict>
            <key>card-collection/cards/Statue_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1144},{358,510}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{358,510}}</string>
                <key>sourceSize</key>
                <string>{358,510}</string>
            </dict>
            <key>card-collection/cards/Statue_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,513},{358,510}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{358,510}}</string>
                <key>sourceSize</key>
                <string>{358,510}</string>
            </dict>
            <key>card-collection/cards/Statue_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,1},{358,510}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{358,510}}</string>
                <key>sourceSize</key>
                <string>{358,510}</string>
            </dict>
            <key>card-collection/sets/FastFood.png</key>
            <dict>
                <key>frame</key>
                <string>{{1711,1774},{154,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,154}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>card-collection/sets/Fish.png</key>
            <dict>
                <key>frame</key>
                <string>{{1867,1282},{154,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,154}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>card-collection/sets/Fruit.png</key>
            <dict>
                <key>frame</key>
                <string>{{1867,1438},{154,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,154}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>card-collection/sets/Girl.png</key>
            <dict>
                <key>frame</key>
                <string>{{1867,1594},{154,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,154}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>card-collection/sets/Mexico.png</key>
            <dict>
                <key>frame</key>
                <string>{{1867,1750},{154,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,154}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>card-collection/sets/Statue.png</key>
            <dict>
                <key>frame</key>
                <string>{{1608,1282},{154,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,154}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>CardCollection-0.png</string>
            <key>size</key>
            <string>{2022,2035}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:432d7b3f4bdd43c61fee7960dc75121c:9366357b5fe6caf7fe459ad768a34a10:d3379ff3be7d891eb711a9ec99451257$</string>
            <key>textureFileName</key>
            <string>CardCollection-0.png</string>
        </dict>
    </dict>
</plist>
