<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>emoticons/Emo_Girl_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,686},{87,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,134}}</string>
                <key>sourceSize</key>
                <string>{87,134}</string>
            </dict>
            <key>emoticons/Emo_Girl_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,139},{92,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,136}}</string>
                <key>sourceSize</key>
                <string>{92,136}</string>
            </dict>
            <key>emoticons/Emo_Girl_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,277},{92,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,136}}</string>
                <key>sourceSize</key>
                <string>{92,136}</string>
            </dict>
            <key>emoticons/Emo_Girl_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{101,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,136}}</string>
                <key>sourceSize</key>
                <string>{101,136}</string>
            </dict>
            <key>emoticons/Emo_Girl_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,415},{88,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,136}}</string>
                <key>sourceSize</key>
                <string>{88,136}</string>
            </dict>
            <key>emoticons/Emo_Girl_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,553},{88,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,131}}</string>
                <key>sourceSize</key>
                <string>{88,131}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Emoticons.png</string>
            <key>size</key>
            <string>{103,821}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3e6446ca4d32b10c79a01fcf917eb12f:38f03665ec532641898f712fe20b956a:ce3adaaecdebfbc5a56d6106374b7bb6$</string>
            <key>textureFileName</key>
            <string>Emoticons.png</string>
        </dict>
    </dict>
</plist>
