<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>event-collector/Badge.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,1585},{165,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,44}}</string>
                <key>sourceSize</key>
                <string>{165,44}</string>
            </dict>
            <key>event-collector/Bag_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1072,1370},{184,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,162}}</string>
                <key>sourceSize</key>
                <string>{184,162}</string>
            </dict>
            <key>event-collector/Bag_01b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1402,959},{205,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,164}}</string>
                <key>sourceSize</key>
                <string>{205,164}</string>
            </dict>
            <key>event-collector/Bag_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1816,1151},{182,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,162}}</string>
                <key>sourceSize</key>
                <string>{182,162}</string>
            </dict>
            <key>event-collector/Bag_02b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1609,959},{205,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,164}}</string>
                <key>sourceSize</key>
                <string>{205,164}</string>
            </dict>
            <key>event-collector/Bag_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1816,959},{190,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,169}}</string>
                <key>sourceSize</key>
                <string>{190,169}</string>
            </dict>
            <key>event-collector/Bag_03b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1402,1125},{205,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,164}}</string>
                <key>sourceSize</key>
                <string>{205,164}</string>
            </dict>
            <key>event-collector/Bag_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1258,1315},{190,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,169}}</string>
                <key>sourceSize</key>
                <string>{190,169}</string>
            </dict>
            <key>event-collector/Bag_04b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1609,1125},{205,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,164}}</string>
                <key>sourceSize</key>
                <string>{205,164}</string>
            </dict>
            <key>event-collector/Banner.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,1},{640,918}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,918}}</string>
                <key>sourceSize</key>
                <string>{640,918}</string>
            </dict>
            <key>event-collector/BoardReward.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,1370},{255,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,160}}</string>
                <key>sourceSize</key>
                <string>{255,160}</string>
            </dict>
            <key>event-collector/BoardReward_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,1208},{559,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{559,160}}</string>
                <key>sourceSize</key>
                <string>{559,160}</string>
            </dict>
            <key>event-collector/BoardTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,921},{580,285}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{580,285}}</string>
                <key>sourceSize</key>
                <string>{580,285}</string>
            </dict>
            <key>event-collector/Board_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{638,1083}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{638,1083}}</string>
                <key>sourceSize</key>
                <string>{638,1083}</string>
            </dict>
            <key>event-collector/Board_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1086},{590,532}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{590,532}}</string>
                <key>sourceSize</key>
                <string>{590,532}</string>
            </dict>
            <key>event-collector/Board_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1283,1},{580,956}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{580,956}}</string>
                <key>sourceSize</key>
                <string>{580,956}</string>
            </dict>
            <key>event-collector/BoxItem.png</key>
            <dict>
                <key>frame</key>
                <string>{{1865,607},{267,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,62}}</string>
                <key>sourceSize</key>
                <string>{267,62}</string>
            </dict>
            <key>event-collector/BoxTicket.png</key>
            <dict>
                <key>frame</key>
                <string>{{1154,1208},{127,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,39}}</string>
                <key>sourceSize</key>
                <string>{127,39}</string>
            </dict>
            <key>event-collector/BoxToken.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,1086},{80,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,40}}</string>
                <key>sourceSize</key>
                <string>{80,40}</string>
            </dict>
            <key>event-collector/HistonryIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1838,1538},{78,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,84}}</string>
                <key>sourceSize</key>
                <string>{78,84}</string>
            </dict>
            <key>event-collector/HistoryButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{1717,1291},{87,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,175}}</string>
                <key>sourceSize</key>
                <string>{87,175}</string>
            </dict>
            <key>event-collector/IconAirPod.png</key>
            <dict>
                <key>frame</key>
                <string>{{1934,1417},{82,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,84}}</string>
                <key>sourceSize</key>
                <string>{82,84}</string>
            </dict>
            <key>event-collector/IconCards.png</key>
            <dict>
                <key>frame</key>
                <string>{{1929,836},{101,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,90}}</string>
                <key>sourceSize</key>
                <string>{101,90}</string>
            </dict>
            <key>event-collector/IconEvent.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,1533},{102,109}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{102,109}}</string>
                <key>sourceSize</key>
                <string>{128,131}</string>
            </dict>
            <key>event-collector/IconGalaxy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1187,1534},{82,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,108}}</string>
                <key>sourceSize</key>
                <string>{82,108}</string>
            </dict>
            <key>event-collector/IconInfo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1931,1503},{68,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,84}}</string>
                <key>sourceSize</key>
                <string>{68,84}</string>
            </dict>
            <key>event-collector/IconItem.png</key>
            <dict>
                <key>frame</key>
                <string>{{1838,1443},{91,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,93}}</string>
                <key>sourceSize</key>
                <string>{91,93}</string>
            </dict>
            <key>event-collector/IconPhone.png</key>
            <dict>
                <key>frame</key>
                <string>{{1934,1315},{82,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,100}}</string>
                <key>sourceSize</key>
                <string>{82,100}</string>
            </dict>
            <key>event-collector/IconShop.png</key>
            <dict>
                <key>frame</key>
                <string>{{1865,876},{45,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,41}}</string>
                <key>sourceSize</key>
                <string>{45,41}</string>
            </dict>
            <key>event-collector/IconToken_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1806,1315},{126,126}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{126,126}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>event-collector/IconToken_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1271,1507},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{126,126}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>event-collector/IconToken_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,1533},{112,128}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{112,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>event-collector/IconToken_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1578,1421},{124,128}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{124,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>event-collector/IconToken_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1057,1534},{110,128}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{110,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>event-collector/IconWatch.png</key>
            <dict>
                <key>frame</key>
                <string>{{1559,1547},{82,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,84}}</string>
                <key>sourceSize</key>
                <string>{82,84}</string>
            </dict>
            <key>event-collector/Lamps.png</key>
            <dict>
                <key>frame</key>
                <string>{{1429,1291},{147,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,175}}</string>
                <key>sourceSize</key>
                <string>{147,175}</string>
            </dict>
            <key>event-collector/Minus.png</key>
            <dict>
                <key>frame</key>
                <string>{{1645,1547},{41,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,41}}</string>
                <key>sourceSize</key>
                <string>{41,41}</string>
            </dict>
            <key>event-collector/Moon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1223,959},{177,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,204}}</string>
                <key>sourceSize</key>
                <string>{177,204}</string>
            </dict>
            <key>event-collector/Pillow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1929,607},{227,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,90}}</string>
                <key>sourceSize</key>
                <string>{227,90}</string>
            </dict>
            <key>event-collector/Plus.png</key>
            <dict>
                <key>frame</key>
                <string>{{1513,1584},{41,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,41}}</string>
                <key>sourceSize</key>
                <string>{41,41}</string>
            </dict>
            <key>event-collector/Tab_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,1532},{228,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,51}}</string>
                <key>sourceSize</key>
                <string>{228,51}</string>
            </dict>
            <key>event-collector/Tab_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1399,1584},{112,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,48}}</string>
                <key>sourceSize</key>
                <string>{112,48}</string>
            </dict>
            <key>event-collector/Ticket.png</key>
            <dict>
                <key>frame</key>
                <string>{{1429,1468},{114,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{114,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>event-collector/Token.png</key>
            <dict>
                <key>frame</key>
                <string>{{1708,1468},{128,108}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{128,108}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>event-collector/X.png</key>
            <dict>
                <key>frame</key>
                <string>{{1924,1573},{72,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,81}}</string>
                <key>sourceSize</key>
                <string>{72,81}</string>
            </dict>
            <key>event-collector/tutorial/Step_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1223,1165},{176,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,148}}</string>
                <key>sourceSize</key>
                <string>{176,148}</string>
            </dict>
            <key>event-collector/tutorial/Step_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1865,211},{198,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,153}}</string>
                <key>sourceSize</key>
                <string>{198,153}</string>
            </dict>
            <key>event-collector/tutorial/Step_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1578,1291},{137,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,128}}</string>
                <key>sourceSize</key>
                <string>{137,128}</string>
            </dict>
            <key>event-collector/tutorial/Step_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,1370},{220,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,161}}</string>
                <key>sourceSize</key>
                <string>{220,161}</string>
            </dict>
            <key>event-collector/tutorial/Step_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1865,1},{208,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,147}}</string>
                <key>sourceSize</key>
                <string>{208,147}</string>
            </dict>
            <key>event-collector/tutorial/Step_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1865,411},{194,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,152}}</string>
                <key>sourceSize</key>
                <string>{194,152}</string>
            </dict>
            <key>event-collector/tutorial/Title.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,1585},{60,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,59}}</string>
                <key>sourceSize</key>
                <string>{60,59}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>EventCollector.png</string>
            <key>size</key>
            <string>{2020,1646}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aab2bca4c6725d4c83538c284aa36d41:6990e9fa92e29848d8c9a3a0f31fd62f:17d65ebb93d3f75f46c3eedba670e8ad$</string>
            <key>textureFileName</key>
            <string>EventCollector.png</string>
        </dict>
    </dict>
</plist>
