<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>circle_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{1945,844},{70,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,68}}</string>
                <key>sourceSize</key>
                <string>{70,68}</string>
            </dict>
            <key>circle_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{1950,569},{70,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,69}}</string>
                <key>sourceSize</key>
                <string>{70,69}</string>
            </dict>
            <key>circle_orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{1945,916},{70,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,68}}</string>
                <key>sourceSize</key>
                <string>{70,68}</string>
            </dict>
            <key>e12_BG_tut.png</key>
            <dict>
                <key>frame</key>
                <string>{{1285,1},{578,853}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{578,853}}</string>
                <key>sourceSize</key>
                <string>{578,853}</string>
            </dict>
            <key>e12_BG_tut_pass.png</key>
            <dict>
                <key>frame</key>
                <string>{{1257,1605},{327,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,208}}</string>
                <key>sourceSize</key>
                <string>{327,208}</string>
            </dict>
            <key>e12_Energy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1833,856},{558,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{558,23}}</string>
                <key>sourceSize</key>
                <string>{558,23}</string>
            </dict>
            <key>e12_Energy_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1888,1},{49,573}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,573}}</string>
                <key>sourceSize</key>
                <string>{49,573}</string>
            </dict>
            <key>e12_bar_showpass.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,1656},{338,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,233}}</string>
                <key>sourceSize</key>
                <string>{338,233}</string>
            </dict>
            <key>e12_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{640,1140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1140}}</string>
                <key>sourceSize</key>
                <string>{640,1140}</string>
            </dict>
            <key>e12_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,1},{640,835}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,835}}</string>
                <key>sourceSize</key>
                <string>{640,835}</string>
            </dict>
            <key>e12_btn_exit.png</key>
            <dict>
                <key>frame</key>
                <string>{{1888,576},{62,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,60}}</string>
                <key>sourceSize</key>
                <string>{62,60}</string>
            </dict>
            <key>e12_btn_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{1945,988},{61,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,60}}</string>
                <key>sourceSize</key>
                <string>{61,60}</string>
            </dict>
            <key>e12_btn_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{1243,1488},{29,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,57}}</string>
                <key>sourceSize</key>
                <string>{29,57}</string>
            </dict>
            <key>e12_btn_right_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1918,815},{27,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,53}}</string>
                <key>sourceSize</key>
                <string>{27,53}</string>
            </dict>
            <key>e12_chest_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1905,1592},{87,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,100}}</string>
                <key>sourceSize</key>
                <string>{87,100}</string>
            </dict>
            <key>e12_green_process.png</key>
            <dict>
                <key>frame</key>
                <string>{{1433,1882},{299,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,29}}</string>
                <key>sourceSize</key>
                <string>{299,29}</string>
            </dict>
            <key>e12_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1764,1752},{77,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,106}}</string>
                <key>sourceSize</key>
                <string>{77,106}</string>
            </dict>
            <key>e12_icon_playbingo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1939,489},{78,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,77}}</string>
                <key>sourceSize</key>
                <string>{78,77}</string>
            </dict>
            <key>e12_light_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{1918,844},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>e12_light_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1734,1882},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>e12_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1907},{640,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,7}}</string>
                <key>sourceSize</key>
                <string>{640,7}</string>
            </dict>
            <key>e12_pass_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1257,1815},{174,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,99}}</string>
                <key>sourceSize</key>
                <string>{174,99}</string>
            </dict>
            <key>e12_pass_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1586,1726},{176,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,104}}</string>
                <key>sourceSize</key>
                <string>{176,104}</string>
            </dict>
            <key>e12_pass_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1858,1218},{162,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,94}}</string>
                <key>sourceSize</key>
                <string>{162,94}</string>
            </dict>
            <key>e12_pass_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1865,643},{170,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,107}}</string>
                <key>sourceSize</key>
                <string>{170,107}</string>
            </dict>
            <key>e12_pass_free.png</key>
            <dict>
                <key>frame</key>
                <string>{{1149,1488},{164,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,92}}</string>
                <key>sourceSize</key>
                <string>{164,92}</string>
            </dict>
            <key>e12_popup_rewards.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,838},{640,648}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,648}}</string>
                <key>sourceSize</key>
                <string>{640,648}</string>
            </dict>
            <key>e12_popup_unlock.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1143},{640,762}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,762}}</string>
                <key>sourceSize</key>
                <string>{640,762}</string>
            </dict>
            <key>e12_popup_unlock_success.png</key>
            <dict>
                <key>frame</key>
                <string>{{1285,856},{523,747}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{523,747}}</string>
                <key>sourceSize</key>
                <string>{523,747}</string>
            </dict>
            <key>e12_progress_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1939,1},{393,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{393,37}}</string>
                <key>sourceSize</key>
                <string>{393,37}</string>
            </dict>
            <key>e12_ribbon.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,1488},{504,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{504,166}}</string>
                <key>sourceSize</key>
                <string>{504,166}</string>
            </dict>
            <key>e12_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{1785,1831},{83,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,85}}</string>
                <key>sourceSize</key>
                <string>{83,85}</string>
            </dict>
            <key>e12_star_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,1656},{272,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,253}}</string>
                <key>sourceSize</key>
                <string>{272,253}</string>
            </dict>
            <key>e12_star_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1833,1452},{138,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,145}}</string>
                <key>sourceSize</key>
                <string>{138,145}</string>
            </dict>
            <key>e12_star_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1765,1605},{138,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,145}}</string>
                <key>sourceSize</key>
                <string>{138,145}</string>
            </dict>
            <key>e12_star_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1939,396},{73,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,91}}</string>
                <key>sourceSize</key>
                <string>{73,91}</string>
            </dict>
            <key>e12_star_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{1945,1050},{62,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,59}}</string>
                <key>sourceSize</key>
                <string>{62,59}</string>
            </dict>
            <key>e12_timeline_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1586,1605},{177,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,119}}</string>
                <key>sourceSize</key>
                <string>{177,119}</string>
            </dict>
            <key>e12_tut_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{1858,856},{360,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,85}}</string>
                <key>sourceSize</key>
                <string>{360,85}</string>
            </dict>
            <key>event12_box_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1865,1},{640,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,12}}</string>
                <key>sourceSize</key>
                <string>{640,12}</string>
            </dict>
            <key>exp_bar_horizontal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1978,1},{344,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,42}}</string>
                <key>sourceSize</key>
                <string>{344,42}</string>
            </dict>
            <key>exp_box_horizontal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1433,1832},{350,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,48}}</string>
                <key>sourceSize</key>
                <string>{350,48}</string>
            </dict>
            <key>icon_check_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{1865,815},{51,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,39}}</string>
                <key>sourceSize</key>
                <string>{51,39}</string>
            </dict>
            <key>icon_lock_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1905,1694},{54,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,62}}</string>
                <key>sourceSize</key>
                <string>{54,62}</string>
            </dict>
            <key>item_box_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1872,1752},{136,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,145}}</string>
                <key>sourceSize</key>
                <string>{136,145}</string>
            </dict>
            <key>item_box_vip.png</key>
            <dict>
                <key>frame</key>
                <string>{{1858,1314},{136,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,147}}</string>
                <key>sourceSize</key>
                <string>{136,147}</string>
            </dict>
            <key>line_reward.png</key>
            <dict>
                <key>frame</key>
                <string>{{1433,1815},{124,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,15}}</string>
                <key>sourceSize</key>
                <string>{124,15}</string>
            </dict>
            <key>line_strong_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{1879,1},{640,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,7}}</string>
                <key>sourceSize</key>
                <string>{640,7}</string>
            </dict>
            <key>line_violet.png</key>
            <dict>
                <key>frame</key>
                <string>{{1824,856},{640,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,7}}</string>
                <key>sourceSize</key>
                <string>{640,7}</string>
            </dict>
            <key>line_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1810,856},{640,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,12}}</string>
                <key>sourceSize</key>
                <string>{640,12}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>exp_pass.png</string>
            <key>size</key>
            <string>{2021,1915}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9f34af20d2a9b68333b39d6b7efd4621:ae3aa01cc5a84a86df9d405a35a35b91:4b1a049a830729ef1920cb943017c71e$</string>
            <key>textureFileName</key>
            <string>exp_pass.png</string>
        </dict>
    </dict>
</plist>
