<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jackpot/big/Base.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,496},{611,332}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{611,332}}</string>
                <key>sourceSize</key>
                <string>{611,332}</string>
            </dict>
            <key>jackpot/big/JackpotBoard.png</key>
            <dict>
                <key>frame</key>
                <string>{{1927,374},{342,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,96}}</string>
                <key>sourceSize</key>
                <string>{342,96}</string>
            </dict>
            <key>jackpot/big/JackpotCell.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,1594},{224,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,282}}</string>
                <key>sourceSize</key>
                <string>{224,282}</string>
            </dict>
            <key>jackpot/big/Needle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1818,1052},{130,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,156}}</string>
                <key>sourceSize</key>
                <string>{130,156}</string>
            </dict>
            <key>jackpot/big/WheelBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,496},{544,549}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{544,549}}</string>
                <key>sourceSize</key>
                <string>{544,549}</string>
            </dict>
            <key>jackpot/big/WheelFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,1109},{483,483}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{483,483}}</string>
                <key>sourceSize</key>
                <string>{483,483}</string>
            </dict>
            <key>jackpot/epic/Base.png</key>
            <dict>
                <key>frame</key>
                <string>{{1285,364},{640,359}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,359}}</string>
                <key>sourceSize</key>
                <string>{640,359}</string>
            </dict>
            <key>jackpot/epic/JackpotBoard.png</key>
            <dict>
                <key>frame</key>
                <string>{{1927,1},{371,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{371,112}}</string>
                <key>sourceSize</key>
                <string>{371,112}</string>
            </dict>
            <key>jackpot/epic/JackpotCell.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,1695},{224,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,282}}</string>
                <key>sourceSize</key>
                <string>{224,282}</string>
            </dict>
            <key>jackpot/epic/Needle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1483,1695},{130,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,156}}</string>
                <key>sourceSize</key>
                <string>{130,156}</string>
            </dict>
            <key>jackpot/epic/WheelBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,496},{544,549}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{544,549}}</string>
                <key>sourceSize</key>
                <string>{544,549}</string>
            </dict>
            <key>jackpot/epic/WheelFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{1214,725},{483,483}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{483,483}}</string>
                <key>sourceSize</key>
                <string>{483,483}</string>
            </dict>
            <key>jackpot/mega/Base.png</key>
            <dict>
                <key>frame</key>
                <string>{{1285,1},{640,361}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,361}}</string>
                <key>sourceSize</key>
                <string>{640,361}</string>
            </dict>
            <key>jackpot/mega/JackpotBoard.png</key>
            <dict>
                <key>frame</key>
                <string>{{1699,725},{421,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{421,117}}</string>
                <key>sourceSize</key>
                <string>{421,117}</string>
            </dict>
            <key>jackpot/mega/JackpotCell.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,1695},{224,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,282}}</string>
                <key>sourceSize</key>
                <string>{224,282}</string>
            </dict>
            <key>jackpot/mega/Needle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1615,1695},{130,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,156}}</string>
                <key>sourceSize</key>
                <string>{130,156}</string>
            </dict>
            <key>jackpot/mega/WheelBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,496},{544,549}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{544,549}}</string>
                <key>sourceSize</key>
                <string>{544,549}</string>
            </dict>
            <key>jackpot/mega/WheelFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{1032,1210},{483,483}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{483,483}}</string>
                <key>sourceSize</key>
                <string>{483,483}</string>
            </dict>
            <key>jackpot/normal/Base.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,452},{611,331}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{611,331}}</string>
                <key>sourceSize</key>
                <string>{611,331}</string>
            </dict>
            <key>jackpot/normal/JackpotBoard.png</key>
            <dict>
                <key>frame</key>
                <string>{{1818,725},{325,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,96}}</string>
                <key>sourceSize</key>
                <string>{325,96}</string>
            </dict>
            <key>jackpot/normal/JackpotCell.png</key>
            <dict>
                <key>frame</key>
                <string>{{1199,1695},{224,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,282}}</string>
                <key>sourceSize</key>
                <string>{224,282}</string>
            </dict>
            <key>jackpot/normal/Needle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1747,1695},{130,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,156}}</string>
                <key>sourceSize</key>
                <string>{130,156}</string>
            </dict>
            <key>jackpot/normal/WheelBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1047},{544,549}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{544,549}}</string>
                <key>sourceSize</key>
                <string>{544,549}</string>
            </dict>
            <key>jackpot/normal/WheelFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{1517,1210},{483,483}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{483,483}}</string>
                <key>sourceSize</key>
                <string>{483,483}</string>
            </dict>
            <key>jackpot/other/LightBlue.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,1},{640,449}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,449}}</string>
                <key>sourceSize</key>
                <string>{640,449}</string>
            </dict>
            <key>jackpot/other/LightRed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{640,493}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,493}}</string>
                <key>sourceSize</key>
                <string>{640,493}</string>
            </dict>
            <key>jackpot/other/Logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1214,452},{176,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,57}}</string>
                <key>sourceSize</key>
                <string>{176,57}</string>
            </dict>
            <key>jackpot/other/RewardBoard.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1598},{628,263}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{628,263}}</string>
                <key>sourceSize</key>
                <string>{628,263}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Jackpot.png</string>
            <key>size</key>
            <string>{2040,1920}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:967bb5526ba74655667e684ac87a795b:99279ff29c99f7c47ec092d40e9f214a:8cec78be4de0ab7598c4003c942b161d$</string>
            <key>textureFileName</key>
            <string>Jackpot.png</string>
        </dict>
    </dict>
</plist>
