<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>league/Arrow_Blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{1226,1187},{100,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,138}}</string>
                <key>sourceSize</key>
                <string>{100,138}</string>
            </dict>
            <key>league/Arrow_Red.png</key>
            <dict>
                <key>frame</key>
                <string>{{1226,1059},{126,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,113}}</string>
                <key>sourceSize</key>
                <string>{126,113}</string>
            </dict>
            <key>league/Banner_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,1},{504,436}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{504,436}}</string>
                <key>sourceSize</key>
                <string>{504,436}</string>
            </dict>
            <key>league/Banner_Popup.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{510,805}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{510,805}}</string>
                <key>sourceSize</key>
                <string>{510,805}</string>
            </dict>
            <key>league/Base_Icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1207,707},{181,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,88}}</string>
                <key>sourceSize</key>
                <string>{181,88}</string>
            </dict>
            <key>league/Board_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1210,440},{265,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,84}}</string>
                <key>sourceSize</key>
                <string>{265,84}</string>
            </dict>
            <key>league/Board_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,1120},{265,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,84}}</string>
                <key>sourceSize</key>
                <string>{265,84}</string>
            </dict>
            <key>league/Board_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1019,344},{269,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,94}}</string>
                <key>sourceSize</key>
                <string>{269,94}</string>
            </dict>
            <key>league/Box_League_DOWN.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,756},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>league/Box_League_SAFE.png</key>
            <dict>
                <key>frame</key>
                <string>{{1196,1282},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>league/Box_League_UP.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,1666},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>league/Dot_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,734},{19,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,19}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>league/Dot_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,1027},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>league/Down_Arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,692},{34,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,40}}</string>
                <key>sourceSize</key>
                <string>{34,40}</string>
            </dict>
            <key>league/Icon_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1212,890},{128,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,167}}</string>
                <key>sourceSize</key>
                <string>{128,167}</string>
            </dict>
            <key>league/Icon_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,1314},{164,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,141}}</string>
                <key>sourceSize</key>
                <string>{164,141}</string>
            </dict>
            <key>league/Label_Down_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,1480},{17,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,83}}</string>
                <key>sourceSize</key>
                <string>{17,83}</string>
            </dict>
            <key>league/Label_Safe_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,1392},{17,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,83}}</string>
                <key>sourceSize</key>
                <string>{17,83}</string>
            </dict>
            <key>league/Label_Up_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1169,1579},{17,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,83}}</string>
                <key>sourceSize</key>
                <string>{17,83}</string>
            </dict>
            <key>league/League_DOWN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1196,1103},{177,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,28}}</string>
                <key>sourceSize</key>
                <string>{177,28}</string>
            </dict>
            <key>league/League_SAFE.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,1603},{177,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,28}}</string>
                <key>sourceSize</key>
                <string>{177,28}</string>
            </dict>
            <key>league/League_UP.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,1633},{177,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,28}}</string>
                <key>sourceSize</key>
                <string>{177,28}</string>
            </dict>
            <key>league/Pile_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,808},{148,504}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,504}}</string>
                <key>sourceSize</key>
                <string>{148,504}</string>
            </dict>
            <key>league/Pile_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,1505},{188,599}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,599}}</string>
                <key>sourceSize</key>
                <string>{188,599}</string>
            </dict>
            <key>league/Pile_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,808},{188,695}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,695}}</string>
                <key>sourceSize</key>
                <string>{188,695}</string>
            </dict>
            <key>league/Pile_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,808},{198,797}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,797}}</string>
                <key>sourceSize</key>
                <string>{198,797}</string>
            </dict>
            <key>league/Rank_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,1607},{77,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,57}}</string>
                <key>sourceSize</key>
                <string>{77,57}</string>
            </dict>
            <key>league/Rank_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,1027},{69,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,54}}</string>
                <key>sourceSize</key>
                <string>{69,54}</string>
            </dict>
            <key>league/Rank_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1290,344},{61,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,49}}</string>
                <key>sourceSize</key>
                <string>{61,49}</string>
            </dict>
            <key>league/RankingAvatarFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,1120},{270,339}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,339}}</string>
                <key>sourceSize</key>
                <string>{270,339}</string>
            </dict>
            <key>league/Star.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,1392},{34,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,32}}</string>
                <key>sourceSize</key>
                <string>{34,32}</string>
            </dict>
            <key>league/Tutorial_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1019,1},{320,341}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,341}}</string>
                <key>sourceSize</key>
                <string>{320,341}</string>
            </dict>
            <key>league/Tutorial_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,439},{447,315}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{447,315}}</string>
                <key>sourceSize</key>
                <string>{447,315}</string>
            </dict>
            <key>league/Tutorial_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,756},{359,362}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{359,362}}</string>
                <key>sourceSize</key>
                <string>{359,362}</string>
            </dict>
            <key>league/Up_Arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,1083},{34,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,39}}</string>
                <key>sourceSize</key>
                <string>{34,39}</string>
            </dict>
            <key>league/YouareHere_Bubble.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1607},{116,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,86}}</string>
                <key>sourceSize</key>
                <string>{116,86}</string>
            </dict>
            <key>league/league_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1169,1422},{155,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,151}}</string>
                <key>sourceSize</key>
                <string>{155,151}</string>
            </dict>
            <key>league/league_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,1422},{176,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,179}}</string>
                <key>sourceSize</key>
                <string>{176,179}</string>
            </dict>
            <key>league/league_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,1488},{187,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,188}}</string>
                <key>sourceSize</key>
                <string>{187,188}</string>
            </dict>
            <key>league/league_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,913},{212,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,188}}</string>
                <key>sourceSize</key>
                <string>{212,188}</string>
            </dict>
            <key>league/league_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,692},{219,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,207}}</string>
                <key>sourceSize</key>
                <string>{219,207}</string>
            </dict>
            <key>league/league_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,1103},{226,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,231}}</string>
                <key>sourceSize</key>
                <string>{226,231}</string>
            </dict>
            <key>league/league_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,440},{246,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,250}}</string>
                <key>sourceSize</key>
                <string>{246,250}</string>
            </dict>
            <key>league/league_board_down_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,1336},{265,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,84}}</string>
                <key>sourceSize</key>
                <string>{265,84}</string>
            </dict>
            <key>league/league_board_down_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,756},{269,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,94}}</string>
                <key>sourceSize</key>
                <string>{269,94}</string>
            </dict>
            <key>league/league_board_safe_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1210,440},{265,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,84}}</string>
                <key>sourceSize</key>
                <string>{265,84}</string>
            </dict>
            <key>league/league_board_safe_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,1392},{269,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,94}}</string>
                <key>sourceSize</key>
                <string>{269,94}</string>
            </dict>
            <key>league/league_board_up_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,1120},{265,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,84}}</string>
                <key>sourceSize</key>
                <string>{265,84}</string>
            </dict>
            <key>league/league_board_up_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1019,344},{269,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,94}}</string>
                <key>sourceSize</key>
                <string>{269,94}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>League.png</string>
            <key>size</key>
            <string>{1341,1694}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:78992bf5b66322222511cd728e29afe4:70df3233b5488e298014ffc90841b16f:83a1a0a39ab836e72350e7a1e2bd4607$</string>
            <key>textureFileName</key>
            <string>League.png</string>
        </dict>
    </dict>
</plist>
