<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>offers/BackgroundItems.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,1767},{46,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,35}}</string>
                <key>sourceSize</key>
                <string>{46,35}</string>
            </dict>
            <key>offers/MainItemBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1767},{291,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,61}}</string>
                <key>sourceSize</key>
                <string>{291,61}</string>
            </dict>
            <key>offers/musical-turkey/BackgroundItems.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,1454},{419,373}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{419,373}}</string>
                <key>sourceSize</key>
                <string>{419,373}</string>
            </dict>
            <key>offers/musical-turkey/Banner.png</key>
            <dict>
                <key>frame</key>
                <string>{{1269,1},{556,748}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{556,748}}</string>
                <key>sourceSize</key>
                <string>{556,748}</string>
            </dict>
            <key>offers/musical-turkey/Icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,924},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>offers/mysterious-van-cat/BackgroundItems.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,1454},{419,373}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{419,373}}</string>
                <key>sourceSize</key>
                <string>{419,373}</string>
            </dict>
            <key>offers/mysterious-van-cat/Banner.png</key>
            <dict>
                <key>frame</key>
                <string>{{1269,751},{380,546}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,546}}</string>
                <key>sourceSize</key>
                <string>{380,546}</string>
            </dict>
            <key>offers/mysterious-van-cat/Icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,1054},{114,128}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{114,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>offers/pretty-camppadocia/BackgroundItems.png</key>
            <dict>
                <key>frame</key>
                <string>{{1421,1505},{426,338}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{426,338}}</string>
                <key>sourceSize</key>
                <string>{426,338}</string>
            </dict>
            <key>offers/pretty-camppadocia/Banner.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{630,948}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{630,948}}</string>
                <key>sourceSize</key>
                <string>{630,948}</string>
            </dict>
            <key>offers/pretty-camppadocia/Icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,1314},{88,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{88,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>offers/ramadan-gift/Banner.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,1},{634,921}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{634,921}}</string>
                <key>sourceSize</key>
                <string>{634,921}</string>
            </dict>
            <key>offers/ramadan-gift/Icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1103,924},{112,128}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{112,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>offers/tulip-festival/BackgroundItems.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,1505},{433,353}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{433,353}}</string>
                <key>sourceSize</key>
                <string>{433,353}</string>
            </dict>
            <key>offers/tulip-festival/Banner.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,951},{406,501}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{406,501}}</string>
                <key>sourceSize</key>
                <string>{406,501}</string>
            </dict>
            <key>offers/tulip-festival/Icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,1184},{110,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{110,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>offers/turkey-ice-cream/BackgroundItems.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,1505},{433,353}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{433,353}}</string>
                <key>sourceSize</key>
                <string>{433,353}</string>
            </dict>
            <key>offers/turkey-ice-cream/Banner.png</key>
            <dict>
                <key>frame</key>
                <string>{{1089,1133},{370,438}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{370,438}}</string>
                <key>sourceSize</key>
                <string>{370,438}</string>
            </dict>
            <key>offers/turkey-ice-cream/Icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1529,1133},{108,128}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{108,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>offers/turkish-lamp-pack/BackgroundItems.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,1454},{419,373}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{419,373}}</string>
                <key>sourceSize</key>
                <string>{419,373}</string>
            </dict>
            <key>offers/turkish-lamp-pack/Banner.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,951},{562,814}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{562,814}}</string>
                <key>sourceSize</key>
                <string>{562,814}</string>
            </dict>
            <key>offers/turkish-lamp-pack/Icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1529,1263},{66,128}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{66,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Offers2.png</string>
            <key>size</key>
            <string>{1848,1859}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5cfbcc8f8150df45e7de3843b06d29d7:c541e0083d4da72293235cf5bb131391:d0aab08de24c7dfe502e3b919d296fe5$</string>
            <key>textureFileName</key>
            <string>Offers2.png</string>
        </dict>
    </dict>
</plist>
