<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>share-image/frames/ramadan/Background_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{600,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,600}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>share-image/frames/ramadan/Background_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,603},{600,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,600}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>share-image/frames/ramadan/Background_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1205},{600,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,600}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>share-image/frames/ramadan/Background_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,1},{600,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,600}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>share-image/frames/ramadan/Background_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,603},{600,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,600}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>share-image/frames/ramadan/Background_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,1205},{600,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,600}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ShareImage2.png</string>
            <key>size</key>
            <string>{1204,1806}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2bdbe9b71360a9caff0ac84f2bef51af:48712fcf0394c70109fffe7d78de9d8e:b5f7dbfbe4bf529fc365277728868f7f$</string>
            <key>textureFileName</key>
            <string>ShareImage2.png</string>
        </dict>
    </dict>
</plist>
