<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>share-image/frames/Background_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{600,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,600}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>share-image/frames/Background_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,603},{600,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,600}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>share-image/frames/Background_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1205},{600,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,600}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>share-image/frames/Background_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,1},{600,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,600}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>share-image/frames/Background_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,603},{600,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,600}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>share-image/frames/Background_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,1205},{600,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,600}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ShareImage.png</string>
            <key>size</key>
            <string>{1204,1806}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5a21c8eadf08e0d3fbc3fe06390a07d7:45e42e1affe685b00cb5bd040a2dcd6d:3983c09c8d489cc1ec0c257e853f95e6$</string>
            <key>textureFileName</key>
            <string>ShareImage.png</string>
        </dict>
    </dict>
</plist>
