<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>slot-three/Sparkle.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,1215},{471,380}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{471,380}}</string>
                <key>sourceSize</key>
                <string>{471,380}</string>
            </dict>
            <key>slot-three/btnMinus.png</key>
            <dict>
                <key>frame</key>
                <string>{{1318,1640},{66,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,64}}</string>
                <key>sourceSize</key>
                <string>{66,64}</string>
            </dict>
            <key>slot-three/btnPlus.png</key>
            <dict>
                <key>frame</key>
                <string>{{1089,1675},{66,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,64}}</string>
                <key>sourceSize</key>
                <string>{66,64}</string>
            </dict>
            <key>slot-three/container_highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,1215},{423,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{423,188}}</string>
                <key>sourceSize</key>
                <string>{423,188}</string>
            </dict>
            <key>slot-three/slot3_bet_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,1640},{173,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,87}}</string>
                <key>sourceSize</key>
                <string>{173,87}</string>
            </dict>
            <key>slot-three/slot3_board_dragon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1170},{455,511}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{455,511}}</string>
                <key>sourceSize</key>
                <string>{455,511}</string>
            </dict>
            <key>slot-three/slot3_board_fish.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,758},{455,490}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{455,490}}</string>
                <key>sourceSize</key>
                <string>{455,490}</string>
            </dict>
            <key>slot-three/slot3_board_jackpot.png</key>
            <dict>
                <key>frame</key>
                <string>{{1156,1},{482,267}}</string>
                <key>offset</key>
                <string>{11,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,145},{482,267}}</string>
                <key>sourceSize</key>
                <string>{584,465}</string>
            </dict>
            <key>slot-three/slot3_btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1683},{58,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,94}}</string>
                <key>sourceSize</key>
                <string>{58,94}</string>
            </dict>
            <key>slot-three/slot3_btn_info.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,1683},{57,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,94}}</string>
                <key>sourceSize</key>
                <string>{57,94}</string>
            </dict>
            <key>slot-three/slot3_icon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1330,1300},{96,94}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{96,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>slot-three/slot3_icon_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1274,710},{111,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,111}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>slot-three/slot3_icon_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1121,1176},{118,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,126}}</string>
                <key>sourceSize</key>
                <string>{118,126}</string>
            </dict>
            <key>slot-three/slot3_icon_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1274,823},{113,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,109}}</string>
                <key>sourceSize</key>
                <string>{113,109}</string>
            </dict>
            <key>slot-three/slot3_icon_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1234,1304},{94,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,113}}</string>
                <key>sourceSize</key>
                <string>{94,113}</string>
            </dict>
            <key>slot-three/slot3_icon_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1247,1530},{108,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,98}}</string>
                <key>sourceSize</key>
                <string>{108,98}</string>
            </dict>
            <key>slot-three/slot3_icon_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1274,938},{100,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,116}}</string>
                <key>sourceSize</key>
                <string>{100,116}</string>
            </dict>
            <key>slot-three/slot3_icon_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1308,485},{116,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,114}}</string>
                <key>sourceSize</key>
                <string>{116,114}</string>
            </dict>
            <key>slot-three/slot3_icon_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1274,1056},{109,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,105}}</string>
                <key>sourceSize</key>
                <string>{109,105}</string>
            </dict>
            <key>slot-three/slot3_icon_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1236,1419},{109,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,104}}</string>
                <key>sourceSize</key>
                <string>{109,104}</string>
            </dict>
            <key>slot-three/slot3_icon_blur_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1342,1398},{74,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,98}}</string>
                <key>sourceSize</key>
                <string>{74,98}</string>
            </dict>
            <key>slot-three/slot3_icon_blur_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1121,1304},{111,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,129}}</string>
                <key>sourceSize</key>
                <string>{111,129}</string>
            </dict>
            <key>slot-three/slot3_icon_blur_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1347,1498},{61,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,77}}</string>
                <key>sourceSize</key>
                <string>{61,77}</string>
            </dict>
            <key>slot-three/slot3_icon_blur_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1121,1435},{113,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,127}}</string>
                <key>sourceSize</key>
                <string>{113,127}</string>
            </dict>
            <key>slot-three/slot3_icon_blur_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1308,601},{107,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,116}}</string>
                <key>sourceSize</key>
                <string>{107,116}</string>
            </dict>
            <key>slot-three/slot3_icon_blur_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1121,1564},{109,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,124}}</string>
                <key>sourceSize</key>
                <string>{109,124}</string>
            </dict>
            <key>slot-three/slot3_icon_blur_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1241,1176},{108,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,122}}</string>
                <key>sourceSize</key>
                <string>{108,122}</string>
            </dict>
            <key>slot-three/slot3_icon_mini_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,1683},{61,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,59}}</string>
                <key>sourceSize</key>
                <string>{61,59}</string>
            </dict>
            <key>slot-three/slot3_icon_mini_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1157,1675},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>slot-three/slot3_icon_mini_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1247,1640},{65,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,69}}</string>
                <key>sourceSize</key>
                <string>{65,69}</string>
            </dict>
            <key>slot-three/slot3_icon_mini_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,1683},{65,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,55}}</string>
                <key>sourceSize</key>
                <string>{65,55}</string>
            </dict>
            <key>slot-three/slot3_icon_mini_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,1683},{61,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,53}}</string>
                <key>sourceSize</key>
                <string>{61,53}</string>
            </dict>
            <key>slot-three/slot3_icon_mini_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1128,693},{65,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,63}}</string>
                <key>sourceSize</key>
                <string>{65,63}</string>
            </dict>
            <key>slot-three/slot3_icon_mini_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1347,1561},{65,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,76}}</string>
                <key>sourceSize</key>
                <string>{65,76}</string>
            </dict>
            <key>slot-three/slot3_icon_mini_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1351,1167},{65,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,64}}</string>
                <key>sourceSize</key>
                <string>{65,64}</string>
            </dict>
            <key>slot-three/slot3_icon_mini_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1351,1234},{65,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,64}}</string>
                <key>sourceSize</key>
                <string>{65,64}</string>
            </dict>
            <key>slot-three/slot3_icon_mini_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1195,693},{65,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,63}}</string>
                <key>sourceSize</key>
                <string>{65,63}</string>
            </dict>
            <key>slot-three/slot3_reel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1078,758},{416,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{416,194}}</string>
                <key>sourceSize</key>
                <string>{416,194}</string>
            </dict>
            <key>slot-three/slot3_ship_center_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,436},{539,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{539,320}}</string>
                <key>sourceSize</key>
                <string>{539,320}</string>
            </dict>
            <key>slot-three/slot3_ship_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,1},{567,433}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{567,433}}</string>
                <key>sourceSize</key>
                <string>{567,433}</string>
            </dict>
            <key>slot-three/slot3_spin_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1128,485},{178,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,115}}</string>
                <key>sourceSize</key>
                <string>{178,115}</string>
            </dict>
            <key>slot-three/slot3_spin_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1128,602},{178,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,89}}</string>
                <key>sourceSize</key>
                <string>{178,89}</string>
            </dict>
            <key>slot-three/slot3_wood_spin.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,1597},{220,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,109}}</string>
                <key>sourceSize</key>
                <string>{220,109}</string>
            </dict>
            <key>slot-three/sparke_light_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,587},{583,581}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{583,581}}</string>
                <key>sourceSize</key>
                <string>{583,581}</string>
            </dict>
            <key>slot-three/sparkle_strong_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{584,584}}</string>
                <key>offset</key>
                <string>{-28,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,200},{584,584}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>slot-three/title_jackpot.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,1597},{232,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,92}}</string>
                <key>sourceSize</key>
                <string>{232,92}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>SlotThree-1.png</string>
            <key>size</key>
            <string>{1425,1743}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4864ad9f088da5a6c09080e504ea2cea:fe432a9021d879e09c782fce6c3ae152:a36c3b5836a72a1218f79f596e62336c$</string>
            <key>textureFileName</key>
            <string>SlotThree-1.png</string>
        </dict>
    </dict>
</plist>
