<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>slot-three/bangron_xanh_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1894,1243},{444,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{444,114}}</string>
                <key>sourceSize</key>
                <string>{444,114}</string>
            </dict>
            <key>slot-three/bline_blue_dot.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,2027},{525,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{525,3}}</string>
                <key>sourceSize</key>
                <string>{525,3}</string>
            </dict>
            <key>slot-three/box_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{1245,1849},{561,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{561,163}}</string>
                <key>sourceSize</key>
                <string>{561,163}</string>
            </dict>
            <key>slot-three/glow_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,1914},{266,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,113}}</string>
                <key>sourceSize</key>
                <string>{266,113}</string>
            </dict>
            <key>slot-three/glow_light_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1419,1},{638,603}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{638,603}}</string>
                <key>sourceSize</key>
                <string>{638,603}</string>
            </dict>
            <key>slot-three/glow_light_yellow_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1419,641},{623,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{623,600}}</string>
                <key>sourceSize</key>
                <string>{623,600}</string>
            </dict>
            <key>slot-three/glow_strong_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,836},{640,671}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,671}}</string>
                <key>sourceSize</key>
                <string>{640,671}</string>
            </dict>
            <key>slot-three/glow_strong_yellow_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1259,1243},{633,604}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{633,604}}</string>
                <key>sourceSize</key>
                <string>{633,604}</string>
            </dict>
            <key>slot-three/line_light_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{2024,1},{525,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{525,3}}</string>
                <key>sourceSize</key>
                <string>{525,3}</string>
            </dict>
            <key>slot-three/popup_light_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,836},{614,919}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{614,919}}</string>
                <key>sourceSize</key>
                <string>{614,919}</string>
            </dict>
            <key>slot-three/purple_wheel.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,1},{707,749}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{707,749}}</string>
                <key>sourceSize</key>
                <string>{707,749}</string>
            </dict>
            <key>slot-three/slot3_icon_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1894,1689},{150,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,132}}</string>
                <key>sourceSize</key>
                <string>{150,132}</string>
            </dict>
            <key>slot-three/slot3_icon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1259,1148},{98,78}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,11},{98,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>slot-three/slot3_icon_blur_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1924,1841},{116,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,144}}</string>
                <key>sourceSize</key>
                <string>{116,144}</string>
            </dict>
            <key>slot-three/slot3_icon_blur_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1259,885},{128,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,127}}</string>
                <key>sourceSize</key>
                <string>{128,127}</string>
            </dict>
            <key>slot-three/slot3_icon_blur_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1323,752},{94,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,131}}</string>
                <key>sourceSize</key>
                <string>{94,131}</string>
            </dict>
            <key>slot-three/slot3_icon_blur_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1808,1849},{114,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,150}}</string>
                <key>sourceSize</key>
                <string>{114,150}</string>
            </dict>
            <key>slot-three/slot3_icon_blur_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1259,1014},{115,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,132}}</string>
                <key>sourceSize</key>
                <string>{115,132}</string>
            </dict>
            <key>slot-three/slot3_icon_mini_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1924,1987},{60,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,72}}</string>
                <key>sourceSize</key>
                <string>{60,72}</string>
            </dict>
            <key>slot-three/slot3_icon_mini_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1259,803},{65,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,59}}</string>
                <key>sourceSize</key>
                <string>{65,59}</string>
            </dict>
            <key>slot-three/slot3_jackot_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,1914},{342,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,116}}</string>
                <key>sourceSize</key>
                <string>{342,116}</string>
            </dict>
            <key>slot-three/slot3_jackpot_board_bgr.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{707,833}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{707,833}}</string>
                <key>sourceSize</key>
                <string>{707,833}</string>
            </dict>
            <key>slot-three/slot3_ship_center.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,1509},{623,403}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{623,403}}</string>
                <key>sourceSize</key>
                <string>{623,403}</string>
            </dict>
            <key>slot-three/slot3_water.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1757},{617,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{617,268}}</string>
                <key>sourceSize</key>
                <string>{617,268}</string>
            </dict>
            <key>slot-three/title_jackpot_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,752},{395,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{395,78}}</string>
                <key>sourceSize</key>
                <string>{395,78}</string>
            </dict>
            <key>slot-three/title_jackpot_mini.png</key>
            <dict>
                <key>frame</key>
                <string>{{1107,752},{214,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,49}}</string>
                <key>sourceSize</key>
                <string>{214,49}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>SlotThree-0.png</string>
            <key>size</key>
            <string>{2043,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4864ad9f088da5a6c09080e504ea2cea:fe432a9021d879e09c782fce6c3ae152:a36c3b5836a72a1218f79f596e62336c$</string>
            <key>textureFileName</key>
            <string>SlotThree-0.png</string>
        </dict>
    </dict>
</plist>
