<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>starfirework/star_firework_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,369},{16,16}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,125},{16,16}}</string>
                <key>sourceSize</key>
                <string>{266,266}</string>
            </dict>
            <key>starfirework/star_firework_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,371},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,73},{120,120}}</string>
                <key>sourceSize</key>
                <string>{266,266}</string>
            </dict>
            <key>starfirework/star_firework_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{218,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,24},{218,218}}</string>
                <key>sourceSize</key>
                <string>{266,266}</string>
            </dict>
            <key>starfirework/star_firework_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,1},{144,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,61},{144,144}}</string>
                <key>sourceSize</key>
                <string>{266,266}</string>
            </dict>
            <key>starfirework/star_firework_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,397},{88,100}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,84},{88,100}}</string>
                <key>sourceSize</key>
                <string>{266,266}</string>
            </dict>
            <key>starfirework/star_firework_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,397},{100,110}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,80},{100,110}}</string>
                <key>sourceSize</key>
                <string>{266,266}</string>
            </dict>
            <key>starfirework/star_firework_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,387},{110,118}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,77},{110,118}}</string>
                <key>sourceSize</key>
                <string>{266,266}</string>
            </dict>
            <key>starfirework/star_firework_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,277},{118,126}}</string>
                <key>offset</key>
                <string>{-6,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,77},{118,126}}</string>
                <key>sourceSize</key>
                <string>{266,266}</string>
            </dict>
            <key>starfirework/star_firework_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,371},{126,134}}</string>
                <key>offset</key>
                <string>{-6,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,77},{126,134}}</string>
                <key>sourceSize</key>
                <string>{266,266}</string>
            </dict>
            <key>starfirework/star_firework_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,137},{134,138}}</string>
                <key>offset</key>
                <string>{-8,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,80},{134,138}}</string>
                <key>sourceSize</key>
                <string>{266,266}</string>
            </dict>
            <key>starfirework/star_firework_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,147},{140,140}}</string>
                <key>offset</key>
                <string>{-9,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,85},{140,140}}</string>
                <key>sourceSize</key>
                <string>{266,266}</string>
            </dict>
            <key>starfirework/star_firework_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,221},{144,148}}</string>
                <key>offset</key>
                <string>{-9,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,86},{144,148}}</string>
                <key>sourceSize</key>
                <string>{266,266}</string>
            </dict>
            <key>starfirework/star_firework_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,1},{148,134}}</string>
                <key>offset</key>
                <string>{-8,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,89},{148,134}}</string>
                <key>sourceSize</key>
                <string>{266,266}</string>
            </dict>
            <key>starfirework/star_firework_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,221},{146,132}}</string>
                <key>offset</key>
                <string>{-10,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,96},{146,132}}</string>
                <key>sourceSize</key>
                <string>{266,266}</string>
            </dict>
            <key>starfirework/star_firework_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,289},{134,96}}</string>
                <key>offset</key>
                <string>{-17,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,128},{134,96}}</string>
                <key>sourceSize</key>
                <string>{266,266}</string>
            </dict>
            <key>starfirework/star_firework_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,147},{6,6}}</string>
                <key>offset</key>
                <string>{-71,-85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,215},{6,6}}</string>
                <key>sourceSize</key>
                <string>{266,266}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>StarFirework.png</string>
            <key>size</key>
            <string>{580,498}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:337d81dff887f5000dfead38dbd70a72:78afb48c77676a41a061a6e8c87ae419:cf570a45e4b27ba3e423c43e269e6991$</string>
            <key>textureFileName</key>
            <string>StarFirework.png</string>
        </dict>
    </dict>
</plist>
