<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tables/IconTableSkin00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>tables/IconTableSkin01.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,1},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>tables/IconTableSkin02.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,1},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>tables/IconTableSkin03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,131},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>tables/IconTableSkinCarpet.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,131},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>tables/IconTableSkinCat.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,261},{135,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,135}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>tables/IconTableSkinDog.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,261},{135,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,135}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>tables/IconTableSkinOcean.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,398},{135,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,135}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>tables/IconTableSkinShark.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,131},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>tables/TableSkin00.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,398},{135,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,135}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>tables/TableSkin01.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,398},{135,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,135}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>tables/TableSkin02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,535},{135,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,135}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>tables/TableSkin03.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,535},{135,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,135}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>tables/TableSkin3D00.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,535},{216,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,260}}</string>
                <key>sourceSize</key>
                <string>{216,260}</string>
            </dict>
            <key>tables/TableSkin3D01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,672},{216,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,260}}</string>
                <key>sourceSize</key>
                <string>{216,260}</string>
            </dict>
            <key>tables/TableSkin3D02.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,797},{216,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,260}}</string>
                <key>sourceSize</key>
                <string>{216,260}</string>
            </dict>
            <key>tables/TableSkin3D03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,890},{216,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,260}}</string>
                <key>sourceSize</key>
                <string>{216,260}</string>
            </dict>
            <key>tables/TableSkin3DCarpet.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,1059},{216,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,260}}</string>
                <key>sourceSize</key>
                <string>{216,260}</string>
            </dict>
            <key>tables/TableSkin3DCat.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1108},{216,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,260}}</string>
                <key>sourceSize</key>
                <string>{216,260}</string>
            </dict>
            <key>tables/TableSkin3DDog.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1326},{216,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,260}}</string>
                <key>sourceSize</key>
                <string>{216,260}</string>
            </dict>
            <key>tables/TableSkin3DDragon.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,1321},{216,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,260}}</string>
                <key>sourceSize</key>
                <string>{216,260}</string>
            </dict>
            <key>tables/TableSkin3DOcean.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1544},{216,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,260}}</string>
                <key>sourceSize</key>
                <string>{216,260}</string>
            </dict>
            <key>tables/TableSkin3DShark.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,1583},{216,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,260}}</string>
                <key>sourceSize</key>
                <string>{216,260}</string>
            </dict>
            <key>tables/TableSkinCarpet.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,131},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>tables/TableSkinCat.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,261},{135,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,135}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>tables/TableSkinDog.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,261},{135,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,135}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>tables/TableSkinDragon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,261},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>tables/TableSkinOcean.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,398},{135,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,135}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>tables/TableSkinShark.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,131},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Tables.png</string>
            <key>size</key>
            <string>{492,1844}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a60888da6661da822610b1fef80a8148:4caa0eace27dfbab9eb38d98a7512eb7:66bcf329c053753eaced945481e5b236$</string>
            <key>textureFileName</key>
            <string>Tables.png</string>
        </dict>
    </dict>
</plist>
