<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>texts/Congraz.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,480},{330,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,64}}</string>
                <key>sourceSize</key>
                <string>{330,64}</string>
            </dict>
            <key>texts/FinalPrize.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,588},{40,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,30}}</string>
                <key>sourceSize</key>
                <string>{40,30}</string>
            </dict>
            <key>texts/New.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,147},{50,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,21}}</string>
                <key>sourceSize</key>
                <string>{50,21}</string>
            </dict>
            <key>texts/around-the-world/Header_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,1298},{318,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{318,142}}</string>
                <key>sourceSize</key>
                <string>{318,142}</string>
            </dict>
            <key>texts/around-the-world/Header_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,406},{259,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,117}}</string>
                <key>sourceSize</key>
                <string>{259,117}</string>
            </dict>
            <key>texts/around-the-world/ParisReward.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,369},{332,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{332,109}}</string>
                <key>sourceSize</key>
                <string>{332,109}</string>
            </dict>
            <key>texts/build-up-pay/BuildUpPay.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,1442},{264,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,114}}</string>
                <key>sourceSize</key>
                <string>{264,114}</string>
            </dict>
            <key>texts/events/dragon-knight/DragonBall.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,698},{1035,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1035,153}}</string>
                <key>sourceSize</key>
                <string>{1035,153}</string>
            </dict>
            <key>texts/free/FreeCoins.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,149},{241,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,51}}</string>
                <key>sourceSize</key>
                <string>{241,51}</string>
            </dict>
            <key>texts/game/GoFirst.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,1525},{237,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,200}}</string>
                <key>sourceSize</key>
                <string>{237,200}</string>
            </dict>
            <key>texts/game/GoSecond.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,1120},{325,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,176}}</string>
                <key>sourceSize</key>
                <string>{325,176}</string>
            </dict>
            <key>texts/game/Pisti.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,1442},{273,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,143}}</string>
                <key>sourceSize</key>
                <string>{273,143}</string>
            </dict>
            <key>texts/game/PistiLogo.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,546},{327,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,190}}</string>
                <key>sourceSize</key>
                <string>{327,190}</string>
            </dict>
            <key>texts/game/PistiLogoBlue.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,738},{327,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,189}}</string>
                <key>sourceSize</key>
                <string>{327,189}</string>
            </dict>
            <key>texts/game/PistiLogoRed.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,929},{327,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,189}}</string>
                <key>sourceSize</key>
                <string>{327,189}</string>
            </dict>
            <key>texts/game/Pistix2.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,1135},{279,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,215}}</string>
                <key>sourceSize</key>
                <string>{279,215}</string>
            </dict>
            <key>texts/game/RoundOver.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,700},{313,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,185}}</string>
                <key>sourceSize</key>
                <string>{313,185}</string>
            </dict>
            <key>texts/game/SummaryGray.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,1470},{241,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,71}}</string>
                <key>sourceSize</key>
                <string>{241,71}</string>
            </dict>
            <key>texts/game/SummaryGreen.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,1470},{241,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,71}}</string>
                <key>sourceSize</key>
                <string>{241,71}</string>
            </dict>
            <key>texts/game/YouWon.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,1098},{219,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,51}}</string>
                <key>sourceSize</key>
                <string>{219,51}</string>
            </dict>
            <key>texts/gourd-crab/LetsBet.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,395},{303,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,54}}</string>
                <key>sourceSize</key>
                <string>{303,54}</string>
            </dict>
            <key>texts/gourd-crab/Shake.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,698},{191,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,66}}</string>
                <key>sourceSize</key>
                <string>{191,66}</string>
            </dict>
            <key>texts/gourd-crab/ShowTime.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,313},{358,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{358,54}}</string>
                <key>sourceSize</key>
                <string>{358,54}</string>
            </dict>
            <key>texts/gourd-crab/Waiting.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,392},{283,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,54}}</string>
                <key>sourceSize</key>
                <string>{283,54}</string>
            </dict>
            <key>texts/happy-shark/HappyShark.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,1},{488,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{488,86}}</string>
                <key>sourceSize</key>
                <string>{488,86}</string>
            </dict>
            <key>texts/home/FreeGift.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,199},{104,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,19}}</string>
                <key>sourceSize</key>
                <string>{104,19}</string>
            </dict>
            <key>texts/home/Friend.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,305},{88,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,19}}</string>
                <key>sourceSize</key>
                <string>{88,19}</string>
            </dict>
            <key>texts/home/Mail.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,588},{47,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,19}}</string>
                <key>sourceSize</key>
                <string>{47,19}</string>
            </dict>
            <key>texts/home/MiniGameBingo.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,1352},{116,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,84}}</string>
                <key>sourceSize</key>
                <string>{116,84}</string>
            </dict>
            <key>texts/home/MiniGameFlipCards.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,153},{128,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,91}}</string>
                <key>sourceSize</key>
                <string>{128,91}</string>
            </dict>
            <key>texts/home/MiniGameGourdCrab.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,283},{121,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,90}}</string>
                <key>sourceSize</key>
                <string>{121,90}</string>
            </dict>
            <key>texts/home/MiniGamePoker.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,1379},{128,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,89}}</string>
                <key>sourceSize</key>
                <string>{128,89}</string>
            </dict>
            <key>texts/home/MiniGameSlotMachine.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,1352},{155,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,88}}</string>
                <key>sourceSize</key>
                <string>{155,88}</string>
            </dict>
            <key>texts/home/PlayNow.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,646},{164,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,155}}</string>
                <key>sourceSize</key>
                <string>{164,155}</string>
            </dict>
            <key>texts/home/Quest.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,1},{83,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,23}}</string>
                <key>sourceSize</key>
                <string>{83,23}</string>
            </dict>
            <key>texts/home/Shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,86},{59,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,23}}</string>
                <key>sourceSize</key>
                <string>{59,23}</string>
            </dict>
            <key>texts/item/Congraz.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{504,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{504,146}}</string>
                <key>sourceSize</key>
                <string>{504,146}</string>
            </dict>
            <key>texts/jackpot/Amazing.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,1312},{189,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,65}}</string>
                <key>sourceSize</key>
                <string>{189,65}</string>
            </dict>
            <key>texts/jackpot/BigWheel.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,588},{223,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,56}}</string>
                <key>sourceSize</key>
                <string>{223,56}</string>
            </dict>
            <key>texts/jackpot/BigWin.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,1442},{303,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,64}}</string>
                <key>sourceSize</key>
                <string>{303,64}</string>
            </dict>
            <key>texts/jackpot/EpicWheel.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,1319},{204,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,42}}</string>
                <key>sourceSize</key>
                <string>{204,42}</string>
            </dict>
            <key>texts/jackpot/EpicWin.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,357},{339,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{339,66}}</string>
                <key>sourceSize</key>
                <string>{339,66}</string>
            </dict>
            <key>texts/jackpot/MegaWheel.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,697},{250,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,55}}</string>
                <key>sourceSize</key>
                <string>{250,55}</string>
            </dict>
            <key>texts/jackpot/MegaWin.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,238},{361,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{361,73}}</string>
                <key>sourceSize</key>
                <string>{361,73}</string>
            </dict>
            <key>texts/jackpot/NormalWheel.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,1708},{257,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,37}}</string>
                <key>sourceSize</key>
                <string>{257,37}</string>
            </dict>
            <key>texts/jackpot/NormalWin.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,949},{147,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,52}}</string>
                <key>sourceSize</key>
                <string>{147,52}</string>
            </dict>
            <key>texts/minigames/AutoPlay.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,588},{56,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,58}}</string>
                <key>sourceSize</key>
                <string>{56,58}</string>
            </dict>
            <key>texts/minigames/ChooseTicket.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,89},{279,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,32}}</string>
                <key>sourceSize</key>
                <string>{279,32}</string>
            </dict>
            <key>texts/minigames/LetsBet_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,357},{380,83}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,17},{380,83}}</string>
                <key>sourceSize</key>
                <string>{404,107}</string>
            </dict>
            <key>texts/minigames/LetsBet_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,803},{93,70}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{93,70}}</string>
                <key>sourceSize</key>
                <string>{99,76}</string>
            </dict>
            <key>texts/minigames/LetsBet_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,1438},{98,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,75}}</string>
                <key>sourceSize</key>
                <string>{98,75}</string>
            </dict>
            <key>texts/minigames/LetsBet_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,803},{94,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,76}}</string>
                <key>sourceSize</key>
                <string>{94,76}</string>
            </dict>
            <key>texts/minigames/PickUpBall.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,89},{454,62}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,28},{454,62}}</string>
                <key>sourceSize</key>
                <string>{472,116}</string>
            </dict>
            <key>texts/minigames/ShowTime.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,149},{451,83}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{451,83}}</string>
                <key>sourceSize</key>
                <string>{459,89}</string>
            </dict>
            <key>texts/minigames/Waiting.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,153},{361,83}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,16},{361,83}}</string>
                <key>sourceSize</key>
                <string>{503,99}</string>
            </dict>
            <key>texts/minigames/YouLose.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,646},{214,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,49}}</string>
                <key>sourceSize</key>
                <string>{214,49}</string>
            </dict>
            <key>texts/minigames/YouWon.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,677},{222,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,54}}</string>
                <key>sourceSize</key>
                <string>{222,54}</string>
            </dict>
            <key>texts/new-comer/PistiMaster.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,1015},{295,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,189}}</string>
                <key>sourceSize</key>
                <string>{295,189}</string>
            </dict>
            <key>texts/quest/DailyQuest.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,1442},{263,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,62}}</string>
                <key>sourceSize</key>
                <string>{263,62}</string>
            </dict>
            <key>texts/rating/IfYouLikeTheGame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,442},{379,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{379,144}}</string>
                <key>sourceSize</key>
                <string>{379,144}</string>
            </dict>
            <key>texts/rating/VoteFiveStars.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,234},{431,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{431,121}}</string>
                <key>sourceSize</key>
                <string>{431,121}</string>
            </dict>
            <key>texts/slot-three/BigWin.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,1442},{261,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,86}}</string>
                <key>sourceSize</key>
                <string>{261,86}</string>
            </dict>
            <key>texts/slot-three/EpicWin.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,901},{290,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,88}}</string>
                <key>sourceSize</key>
                <string>{290,88}</string>
            </dict>
            <key>texts/slot-three/Guide.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,991},{284,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,142}}</string>
                <key>sourceSize</key>
                <string>{284,142}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Texts.png</string>
            <key>size</key>
            <string>{1024,1746}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:68730720a1febd6c2c466a354ffe5328:458df46e5da29dce196e6de429eb63a3:b436b872ba7909cdcedba02873e9d8f0$</string>
            <key>textureFileName</key>
            <string>Texts.png</string>
        </dict>
    </dict>
</plist>
