<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>trophy/book/BookClose.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,1},{547,789}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{547,789}}</string>
                <key>sourceSize</key>
                <string>{547,789}</string>
            </dict>
            <key>trophy/book/BookOpen.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{580,779}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{580,779}}</string>
                <key>sourceSize</key>
                <string>{580,785}</string>
            </dict>
            <key>trophy/icons/Icon_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,773},{120,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,110}}</string>
                <key>sourceSize</key>
                <string>{120,110}</string>
            </dict>
            <key>trophy/icons/Icon_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,766},{115,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,111}}</string>
                <key>sourceSize</key>
                <string>{115,111}</string>
            </dict>
            <key>trophy/icons/Icon_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,773},{135,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,112}}</string>
                <key>sourceSize</key>
                <string>{135,112}</string>
            </dict>
            <key>trophy/icons/Icon_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1224,550},{111,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,96}}</string>
                <key>sourceSize</key>
                <string>{111,96}</string>
            </dict>
            <key>trophy/icons/Icon_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,682},{136,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,89}}</string>
                <key>sourceSize</key>
                <string>{136,89}</string>
            </dict>
            <key>trophy/icons/Icon_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,891},{94,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,133}}</string>
                <key>sourceSize</key>
                <string>{94,133}</string>
            </dict>
            <key>trophy/icons/Icon_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,877},{88,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,107}}</string>
                <key>sourceSize</key>
                <string>{88,107}</string>
            </dict>
            <key>trophy/icons/Icon_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1113,659},{113,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,97}}</string>
                <key>sourceSize</key>
                <string>{113,97}</string>
            </dict>
            <key>trophy/icons/Icon_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,885},{117,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,101}}</string>
                <key>sourceSize</key>
                <string>{117,101}</string>
            </dict>
            <key>trophy/icons/Icon_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,666},{142,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,105}}</string>
                <key>sourceSize</key>
                <string>{142,105}</string>
            </dict>
            <key>trophy/icons/Icon_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,662},{128,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,102}}</string>
                <key>sourceSize</key>
                <string>{128,102}</string>
            </dict>
            <key>trophy/icons/Icon_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,775},{140,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,114}}</string>
                <key>sourceSize</key>
                <string>{140,114}</string>
            </dict>
            <key>trophy/icons/Icon_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,550},{146,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,116}}</string>
                <key>sourceSize</key>
                <string>{146,116}</string>
            </dict>
            <key>trophy/icons/Icon_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,782},{146,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,117}}</string>
                <key>sourceSize</key>
                <string>{146,117}</string>
            </dict>
            <key>trophy/icons/Icon_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,782},{146,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,117}}</string>
                <key>sourceSize</key>
                <string>{146,117}</string>
            </dict>
            <key>trophy/icons/Icon_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,550},{114,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,133}}</string>
                <key>sourceSize</key>
                <string>{114,133}</string>
            </dict>
            <key>trophy/icons/Icon_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,782},{156,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,122}}</string>
                <key>sourceSize</key>
                <string>{156,122}</string>
            </dict>
            <key>trophy/icons/Icon_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,698},{75,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,98}}</string>
                <key>sourceSize</key>
                <string>{75,98}</string>
            </dict>
            <key>trophy/icons/Icon_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,891},{132,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,92}}</string>
                <key>sourceSize</key>
                <string>{132,92}</string>
            </dict>
            <key>trophy/icons/Icon_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,901},{171,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,82}}</string>
                <key>sourceSize</key>
                <string>{171,82}</string>
            </dict>
            <key>trophy/icons/Icon_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,782},{154,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,138}}</string>
                <key>sourceSize</key>
                <string>{154,138}</string>
            </dict>
            <key>trophy/icons/Icon_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,887},{126,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,92}}</string>
                <key>sourceSize</key>
                <string>{126,92}</string>
            </dict>
            <key>trophy/icons/Icon_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1112,877},{102,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,94}}</string>
                <key>sourceSize</key>
                <string>{102,94}</string>
            </dict>
            <key>trophy/icons/Icon_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,906},{162,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,80}}</string>
                <key>sourceSize</key>
                <string>{162,80}</string>
            </dict>
            <key>trophy/icons/Icon_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1103,550},{119,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,107}}</string>
                <key>sourceSize</key>
                <string>{119,107}</string>
            </dict>
            <key>trophy/icons/Icon_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1215,758},{105,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,86}}</string>
                <key>sourceSize</key>
                <string>{105,86}</string>
            </dict>
            <key>trophy/icons/Icon_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{1109,766},{104,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,109}}</string>
                <key>sourceSize</key>
                <string>{104,109}</string>
            </dict>
            <key>trophy/icons/Icon_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,901},{112,84}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{112,84}}</string>
                <key>sourceSize</key>
                <string>{120,84}</string>
            </dict>
            <key>trophy/icons/Icon_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,901},{112,84}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{112,84}}</string>
                <key>sourceSize</key>
                <string>{120,84}</string>
            </dict>
            <key>trophy/icons/Icon_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,901},{112,84}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{112,84}}</string>
                <key>sourceSize</key>
                <string>{120,84}</string>
            </dict>
            <key>trophy/medals/Background.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,550},{136,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,110}}</string>
                <key>sourceSize</key>
                <string>{136,110}</string>
            </dict>
            <key>trophy/medals/StarBronze.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,938},{35,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,34}}</string>
                <key>sourceSize</key>
                <string>{35,34}</string>
            </dict>
            <key>trophy/medals/StarGold.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,938},{35,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,34}}</string>
                <key>sourceSize</key>
                <string>{35,34}</string>
            </dict>
            <key>trophy/medals/StarGray.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,938},{35,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,34}}</string>
                <key>sourceSize</key>
                <string>{35,34}</string>
            </dict>
            <key>trophy/medals/StarSilver.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,938},{35,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,34}}</string>
                <key>sourceSize</key>
                <string>{35,34}</string>
            </dict>
            <key>trophy/other/Icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,550},{127,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,130}}</string>
                <key>sourceSize</key>
                <string>{127,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Trophy.png</string>
            <key>size</key>
            <string>{1373,987}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:23143daead81357092bd63c999fac2e7:1dd8d2cd004d9aaed599a841c73f7bf0:b99c74b185fea7977a9f5e14514635e6$</string>
            <key>textureFileName</key>
            <string>Trophy.png</string>
        </dict>
    </dict>
</plist>
